.main-nav {
    padding: 20px 50px 0;
    position: relative;
    z-index: 99;
    @include mobile {
        padding: 0;
    }
    .navbar-nav {
        li {
            a {
                text-decoration: none;
                font-family: $Montserrat-Regular;
                font-size: 16px;
                &:hover,
                &.active,
                &:focus {
                    background-color: transparent;
                }
            }
        }
    }
    .navTrigger {
        position: fixed;
        z-index: 55;
        right: 100px;
        @include mobile {
            right: 20px;
            top: 0;
        }
        span {
            font-size: 50px;
        }
    }
}