#tracker {
    .main-nav {
        background: $tracker;
    }
    .masthead {
        background: $tracker;
    }
    .scrolling {
        background: $white;
    }
}
#swiftjobs{
        .main-nav {
        background: $swiftjobs;
    }
    .masthead {
        background: $swiftjobs;
    }
    .scrolling {
        background: $swiftjobs;
    }
}
#bookapp{
        .main-nav {
        background: $bookapp;
    }
    .masthead {
        background: $bookapp;
    }
    .scrolling {
        background: $bookapp;
    }
}

#slearn{
        .main-nav {
        background: $slearn;
    }
    .masthead {
        background: $slearn;
    }
    .scrolling {
        background: $slearn;
    }
}

.project-details {
    .masthead {
        align-items: flex-end;
        justify-content: baseline;
        padding: 170px 200px;
        @include tablet{
                padding: 170px 50px;
                .header-content{
                    h3{

                    text-align: center;
                    }
                }
        }
        @include mobile{
                padding: 170px 50px;
        }
        .header-content {
            text-align: left;

            h3 {
                font-size: 36px;
                font-family: $Maax-Sans-Medium;
                margin-bottom: 45px;
            }
            p {
                font-size: 24px;
                color: $white;
            }
        }
    }
    .photo-fluid{
        background: {
            position: center;
            size: cover;
        }
        height: 400px;
            margin-top: -4px;
    }

    .text-wrapper {
        &.content-detail {
            justify-content: center;
            text-align: center;
        }

        padding: 0 70px;
        display: flex;
        align-items: center;
        color: $white;
        @include mobile{
             padding: 50px 10px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            margin-bottom: 50px;
            font-size: 24px;
            font-family:$Maax-Sans-Medium;
        }
        h4 {
            font-size: 16px;
            line-height: 2.2;
            position: relative;
            &::after {
                content: "";
                border: solid 1px $jade;
                border-radius: 50%;
                width: 4px;
                height: 4px;
                background: $jade;
                position: absolute;
                top: 48%;
                margin-left: 5px;
            }
        }
        p {
            font-size: 16px;
            line-height: 1.88;
            margin-bottom: 70px;
        }
        label {
            line-height: 1.88;
            font-size: 24px;
            position: relative;
            margin-bottom: 20px;
            &::after {
                content: "";
                border-bottom: solid 2px $jade;
                position: absolute;
                width: 30px;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        a {
            float: right;
        }
        .detail-item {
            margin-bottom: 50px;
            .project-services {
                h4 {
                    display: inline-block;
                    margin-right: 20px;
                }
            }
        }
        &.left-desc-content {
            @include tablet{
                    padding: 70px;
            }
            label {
                &::after {
                    left: 0;
                    margin: initial;
                }
            }
        }
    }
    .featured-photo {
        min-height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $smoke;
    }
    .screen-section {
        .img-wrapper {
            margin-top: 50px;
            .content-holder {
                .img-holder{
                    &.mobile{
                        img{
                            width: 270px;
                        }
                    }
                }
                &:hover {
                    .img-holder {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .bottom-links {
    	margin-top: 150px;
        .item-link {
            height: 400px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            text-align: center;

            background: {
                color:$midnight;
            }
            h3 {
                font-size: 24px;
                line-height: 1.5;
                letter-spacing: 2.4px;
                margin-bottom: 45px;
            }
        }
    }
}