$phone-width: 320px;
$phone-width-sm: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width:1600px;

@mixin mobile-xs {
    @media (min-width: 0px) and (max-width: #{$phone-width-sm - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}


@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-lg-width - 1px}){
        @content;
    }
}
@mixin desktop-lg {
    @media (min-width: #{$desktop-lg-width}) {
        @content;
    }
}
