@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/montseratt/Montserrat-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/montseratt/Montserrat-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/montseratt/Montserrat-ExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/montseratt/Montserrat-ExtraLight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montseratt/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montseratt/Montserrat-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montseratt/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montseratt/Montserrat-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/montseratt/Montserrat-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

//opensans
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/open-sans/OpenSans-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

//Playfair Display


@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('../fonts/playfair-display/PlayfairDisplay-Black.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-BlackItalic';
    src: url('../fonts/playfair-display/PlayfairDisplay-BlackItalic.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/playfair-display/PlayfairDisplay-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('../fonts/playfair-display/PlayfairDisplay-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../fonts/playfair-display/PlayfairDisplay-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/playfair-display/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit-Regular';
    src: url('../fonts/Larsseit/Larsseit-Regular.woff') format('woff'), url('../fonts/Larsseit/Larsseit-Regular.eot'), url('../fonts/Larsseit/Larsseit-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit-Light';
    src: url('../fonts/Larsseit/Larsseit-Light.woff') format('woff'), url('../fonts/Larsseit/Larsseit-Light.eot'), url('../fonts/Larsseit/Larsseit-Light.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit-Medium';
    src: url('../fonts/Larsseit/Larsseit-Medium.woff') format('woff'), url('../fonts/Larsseit/Larsseit-Medium.eot'), url('../fonts/Larsseit/Larsseit-Medium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit-Bold';
    src: url('../fonts/Larsseit/Larsseit-Bold.woff') format('woff'), url('../fonts/Larsseit/Larsseit-Bold.eot'), url('../fonts/Larsseit/Larsseit-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143 !important;
    color: #333;
    background-color: #fff;
    p{
      
    }
}