//font family
$Montserrat-Black: 'Montserrat-Black';
$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-ExtraBold: 'Montserrat-ExtraBold';
$Montserrat-ExtraLight: 'Montserrat-ExtraLight';
$Montserrat-Light: 'Montserrat-Light';
$Montserrat-Medium: 'Montserrat-Medium';
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-SemiBold: 'Montserrat-SemiBold';
$Montserrat-Thin: 'Montserrat-Thin';
$OpenSans-Bold: 'OpenSans-Bold';
$OpenSans-BoldItalic: 'OpenSans-BoldItalic';
$OpenSans-ExtraBold: 'OpenSans-ExtraBold';
$OpenSans-Italic: 'OpenSans-Italic';
$OpenSans-Light: 'OpenSans-Light';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-Semibold: 'OpenSans-Semibold';
$OpenSans-SemiboldItalic: 'OpenSans-SemiboldItalic';

//playfair
$PlayfairDisplay-Black: 'PlayfairDisplay-Black';
$PlayfairDisplay-BlackItalic: 'PlayfairDisplay-BlackItalic';
$PlayfairDisplay-Bold: 'PlayfairDisplay-Bold';
$PlayfairDisplay-BoldItalic: 'PlayfairDisplay-BoldItalic';
$PlayfairDisplay-Italic: 'PlayfairDisplay-Italic';
$PlayfairDisplay-Regular: 'PlayfairDisplay-Regular';


$Larsseit-Regular: 'Larsseit-Regular';
$Larsseit-Medium: 'Larsseit-Medium';
$Larsseit-Bold: 'Larsseit-Bold';

//colors
$white: #ffffff;

$black: #000000;
$dark-grey: #252525;
$slate-grey:#363636;
$slate-grey2:#464646;
$light-grey: #a0a0a1;
$warm-grey: #9e9e9e;
$greyish-brown: #464646;
$medium-pink: #f660b8;

$primary-green:#0edc87;
$blue-green: #0fa371;
$green-blue: #26c68f;
$cyan: #43dbf7;
$tealish:#33d6b2;

$off-yellow: #dbf743;