{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="">
    <div class="container">
        <div class="sc-section">
          <h2 class="about-top top-text">Who we are and what believe in.</h2>
          <p class="section-text-lg hd-text">OUR STORY</p>
          <div class="row">
             <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1 ">
                 <div class="section-content hd-text">
                     <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="3s" >Determined to deliver amazing digital products.</h2>
                     <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="3.2s" >
                      Software engineering isn’t just something we do.That’s what we are made of. Everyday at swiftkind, our team work passionately to deliver custom solutions to fit our users' needs and exceed expections.
                      </p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1">
                 <div class="top-img">
                     <div class="img-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-delay="4.5s">
                         <div class="side-box"></div>
                         <img src="{% static 'images/img5.png' %}" class="img-responsive">
                     </div>
                 </div>
             </div>
         </div>
        </div>
        <div class="row principles">
            <div class="col-md-12">
                <div class="about-text">
                    <p class="section-title">OUR PRINCIPLES
                        <span></span>
                    </p>
                </div>
           </div>
           <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                <div class="section-content">
                    <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">Prism raw denim tumeric glossier DIY</h3>
                    <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="0.5s" >
                        Wolf helvetica actually brooklyn, vape vexillologist palo santo etsy single-origin coffee flannel hammock.
                    </p>
                </div>
           </div>
           <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                <div class="section-content">
                    <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Prism raw denim tumeric glossier DIY</h3>
                    <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="1s" >
                        Wolf helvetica actually brooklyn, vape vexillologist palo santo etsy single-origin coffee flannel hammock.
                    </p>
                </div>
           </div>
           <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                <div class="section-content">
                    <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.25s" >Prism raw denim tumeric glossier DIY</h3>
                    <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="1.5s">
                        Wolf helvetica actually brooklyn, vape vexillologist palo santo etsy single-origin coffee flannel hammock.
                    </p>
                </div>
           </div>
           <div class="col-md-6 col-md-offset-0  col-sm-10 col-sm-offset-1">
                <div class="section-content">
                    <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.75s">Prism raw denim tumeric glossier DIY</h3>
                    <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="2s">
                        Wolf helvetica actually brooklyn, vape vexillologist palo santo etsy single-origin coffee flannel hammock.
                    </p>
                </div>
           </div>
       </div>
       <div class="mid-img">
            <div class="">
                <div class="img-wrapper wow fadeInUp left" data-wow-duration="1.5s" data-wow-delay="1s">
                    <div class="side-box"></div>
                    <img src="{% static 'images/img4.png' %}" class="img-responsive">
                </div>
            </div>
            <div class="">
                <div class="img-wrapper wow fadeInUp center" data-wow-duration="1.5s" data-wow-delay="1.5s">
                    <div class="side-box"></div>
                    <img src="{% static 'images/img6.png' %}" class="img-responsive">
                </div>
            </div>
            <div class="">
                <div class="img-wrapper wow fadeInUp right" data-wow-duration="1.5s" data-wow-delay="2s">
                    <div class="side-box"></div>
                    <img src="{% static 'images/img3.png' %}" class="img-responsive">
                </div>
            </div>
       </div>
       <div class="row flex">
           <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
               <div class="section-content">
                   <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s" >Determined to deliver amazing digital products.</h2>
                </div>
           </div>
           <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                <div class="section-content">
                    <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s">
                        Mustache intelligentsia prism drinking vinegar hell of waistcoat chartreuse austin la croix vexillologist tilde. Before they sold out chillwave hashtag gluten-free disrupt. 3 wolf moon succulents green juice biodiesel hoodie scenester chambray banh mi man braid edison bulb. Tilde poke tumeric gochujang chicharrones vice.
                    </p>
                    <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s" >
                        Kinfolk pop-up vaporware bicycle rights semiotics pork belly polaroid asymmetrical truffaut yuccie pok pok lyft craft beer. Banjo mlkshk bitters pok pok cornhole chartreuse XOXO cloud bread pour-over plaid everyday carry mustache poke.
                    </p>
                </div>
            </div>
        </div>
        <div class="team-section">
            <div class="row team-col">
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/unknown.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">EARVIN GEMENEZ</p>
                                    <p class="position">CEO</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/unknown.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">RALPH LEYGA</p>
                                    <p class="position">COO</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/unknown.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">MANNY CANDIDIER</p>
                                    <p class="position">CTO</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/restie.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">RESTIE ANTIQUIN</p>
                                    <p class="position">UI/UX Designer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/kevin.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">KEVIN KALIS</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/dudz.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">SANNY CANDIDIER</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.75s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/gong.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">JEROME RUMBAOA</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/reg.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">REGIMAR ALINSANGAO</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.2s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/king.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">KING RULE</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.5s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/bern.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">BERNALIE LENTEJAS</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.75s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/cholo.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">POCHOLO RECTOR</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <div class="bottom-img">
                        <div class="img-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="3s">
                            <div class="side-box"></div>
                            <div class="photo" style="background-image: url('{% static 'images/team/kolai.png' %}');"></div>
                            <div class="info">
                                <div class="items">
                                    <p class="name">NIKOLAI TEVES</p>
                                    <p class="position">Software Engineer</p>
                                    <span class="links">
                                    <a href="#">
                                    <span class="icon ion-android-open"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-github"></span>
                                    </a>
                                    <a href="#">
                                    <span class="icon ion-social-linkedin-outline"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row flex">
                <div class="col-md-12">
                    <div class="about-text">
                        <p class="section-title">
                            WHAT ARE WE HERE FOR
                            <span></span>
                        </p>
                    </div>
               </div>
               <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                   <div class="section-content">
                       <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" >Determined to deliver amazing digital products.</h2>
                    </div>
               </div>
               <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="section-content">
                        <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
                            Mustache intelligentsia prism drinking vinegar hell of waistcoat chartreuse austin la croix vexillologist tilde. Before they sold out chillwave hashtag gluten-free disrupt. 3 wolf moon succulents green juice biodiesel hoodie scenester chambray banh mi man braid edison bulb. Tilde poke tumeric gochujang chicharrones vice.
                        </p>
                    </div>
               </div>
           </div>
           <div class="row philosphy">
               <div class="col-md-6 col-md-offset-0  col-sm-10 col-sm-offset-1">
                   <div class="section-content">
                        <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">Our philosophy</h3>
                        <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            Successful digital products are built by having systematic processes and not by chances. Whether that’s by creating something entirely new or innovating an existing product, we remain to be agile before, during and after deevelopment.
                        </p>
                        <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            Successful digital products are built by having systematic processes and not by chances. Whether that’s by creating something entirely new or innovating an existing product, we remain to be agile before, during and after deevelopment.
                        </p>
                    </div>
               </div>
               <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                   <div class="section-content">
                        <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Our mission</h3>
                        <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="1s">
                            Successful digital products are built by having systematic processes and not by chances. Whether that’s by creating something entirely new or innovating an existing product, we remain to be agile before, during and after deevelopment.
                        </p>
                        <p class="text-left caption wow fadeInUp text-left" data-wow-duration="0.5s" data-wow-delay="1.2s">
                            Successful digital products are built by having systematic processes and not by chances. Whether that’s by creating something entirely new or innovating an existing product, we remain to be agile before, during and after deevelopment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-nav">
        <div class="">
            <a href="{% url 'works' %}">
            <span>WRK.</span>
            <span>
            <i class="ion-ios-arrow-thin-left">
            </i>
            </span>
            </a>
        </div>
        <div>
            <a href="{% url 'services' %}" class="sty">
            <span>SVC.</span>
            <span>
            <i class="ion-ios-arrow-thin-right">
            </i>
            </span>
            </a>
        </div>
    </div>
    <div class="bottom-link" data-wow-duration="0.5s" data-wow-delay="1s">
        <h3>We always create something amazing.</h3>
        <div id="" class="carousel vertical slide pagelinks">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="{% url 'works' %}">
                    <span>
                    See our <strong>works</strong>
                    <i class="icon ion-ios-arrow-thin-right"></i>
                    </span>
                    </a>
                </div>
                <div class="item">
                    <a href="{% url 'about' %}">
                    <span>
                    Know our
                    <strong>
                    story
                    <span class="line"></span>
                    </strong>
                    <i class="icon ion-ios-arrow-thin-right"></i>
                    </span>
                    </a>
                </div>
                <div class="item">
                    <a href="{% url 'contact' %}">
                    <span>
                    Talk to <strong>us</strong>
                    <i class="icon ion-ios-arrow-thin-right"></i>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
