{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="blog-entry">
            <a href="" class="text-uppercase">
                <img src="{% static 'images/arrow-right.svg' %}" class="back-arrow">
                back to articles
            </a>
            <div class="blog-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="blog-title">
                        <h2>Up your game and reap the rewards</h2>
                         <div class="category">
                            <a href="#">DEVELOPMENT</a>
                            <a href="#" class="date">09 / 15 /17</a>
                        </div>
                    </div>
                    </div>
                </div>
                <img src="{% static 'images/bl2.jpg' %}" class="img-responsive">
                <p>
                    Lorem ipsum dolor amet cray poke bushwick beard butcher artisan, franzen direct trade. VHS chillwave cred, distillery af schlitz aesthetic vice coloring book typewriter flannel. Fanny pack photo booth lo-fi locavore, franzen sartorial brooklyn neutra. Street art cardigan wayfarers PBR&B shoreditch typewriter cold-pressed fixie deep v lyft direct trade cray locavore chicharrones cornhole. Selvage quinoa umami artisan green juice jianbing dreamcatcher selfies tumeric kickstarter microdosing pug beard fingerstache. Narwhal microdosing succulents heirloom PBR&B, disrupt authentic kinfolk roof party put a bird on it poke direct trade fashion axe. Palo santo hashtag etsy iPhone vape echo park.
                </p>
                <p>
                    Lorem ipsum dolor amet cray poke bushwick beard butcher artisan, franzen direct trade. VHS chillwave cred, distillery af schlitz aesthetic vice coloring book typewriter flannel. Fanny pack photo booth lo-fi locavore, franzen sartorial brooklyn neutra. Street art cardigan wayfarers PBR&B shoreditch typewriter cold-pressed fixie deep v lyft direct trade cray locavore chicharrones cornhole. Selvage quinoa umami artisan green juice jianbing dreamcatcher selfies tumeric kickstarter microdosing pug beard fingerstache. Narwhal microdosing succulents heirloom PBR&B, disrupt authentic kinfolk roof party put a bird on it poke direct trade fashion axe. Palo santo hashtag etsy iPhone vape echo park.
                </p>
                <p>
                    Lorem ipsum dolor amet cray poke bushwick beard butcher artisan, franzen direct trade. VHS chillwave cred, distillery af schlitz aesthetic vice coloring book typewriter flannel. Fanny pack photo booth lo-fi locavore, franzen sartorial brooklyn neutra. Street art cardigan wayfarers PBR&B shoreditch typewriter cold-pressed fixie deep v lyft direct trade cray locavore chicharrones cornhole. Selvage quinoa umami artisan green juice jianbing dreamcatcher selfies tumeric kickstarter microdosing pug beard fingerstache. Narwhal microdosing succulents heirloom PBR&B, disrupt authentic kinfolk roof party put a bird on it poke direct trade fashion axe. Palo santo hashtag etsy iPhone vape echo park.
                </p>
            </div>
        </div>
    </div>
    <div class="map-container">
        <div class="map-details">
            <div>
                <div class="details-header">
                    <h2>Swiftkind HQ</h2>
                    <h4>4:37 PM (GMT+ 8)</h4>
                </div>
                <h3>
                    (082) 225 1050 | contact@swiftkind.com
                </h3>
            </div>
        </div>
        <iframe src="https://snazzymaps.com/embed/27006" width="100%" height="600px" style="border:none;" class="map"></iframe>
    </div>
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
           Swiftkind is a challenge-driven team eager to meet new people that push us to be more creative and bold. Tell us how you want to change the future and let's rock on!
        </p>
        <div class="item-links">
            <a href="{% url 'about' %}" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW OUR STORY
                <img src="{% static 'images/arrow-right-black.svg' %}" class="arrow-sm">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}