{% extends 'base.html' %}
{% load staticfiles %}

{% block project %}bookapp{% endblock %}
{% block project-details %}project-details{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="section">
        <div class="masthead">
            <div class="header-content">
               <h3>
                    <span class="text-content-wrapper">
                        <span class="letters  wow" data-wow-duration="0.5s" data-wow-delay="0s">Bookapp</span>
                    </span>
                </h3 >
               <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">Website design, development & CMS implementation</p>
            </div>
        </div>
        <div class="photo-fluid" style="background-image: url('{% static 'images/layer-1.png' %}');">
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            <div class="col-md-6 no-padding">
                <div class="midnight text-wrapper">
                    <div>
                        <h3>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.2s">Simplicity to attract</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.2s"></div>
                            </div>
                        </h3>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            Freegan umami edison bulb fingerstache artisan fanny pack chambray. Biodiesel retro helvetica ramps, forage gluten-free chartreuse lo-fi blog hashtag yuccie fanny pack bushwick. Activated charcoal roof party pug post-ironic, pitchfork quinoa mumblecore live-edge man braid ugh fingerstache DIY vape poke.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" text-wrapper content-detail ">
                <div>
                    <div class="detail-item">
                        <label>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">what we did:</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                            </div>
                        </label>
                        <div class="project-services">
                            <h4 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">Web design and development.</h4>
                            <h4  class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s">Software development.</h4>
                            <h4  class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.4s">UX and UI platform Nego Services</h4>
                            <h4  class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.6s">Assistance communication strategy.</h4>
                        </div>
                    </div>
                    <div class="detail-item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">
                        <label>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1.5s">year:</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="1.5s"></div>
                            </div>
                        </label>
                        <h4>2016</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-photo">
        <div>
            <img src="{% static 'images/projects/book-ipad1.png' %}" class="img-responsive wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
        </div>
    </div>
    <div class="left-desc-content blackpearl text-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                        <div class="bg-anim">
                            <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0s">The Process:</span>
                            <div class="anim wow" data-wow-duration="1s" data-wow-delay="0s"></div>
                        </div>
                    </label>
                    <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                        Biodiesel retro helvetica ramps, forage gluten-free chartreuse lo-fi blog hashtag yuccie fanny pack bushwick. Activated charcoal roof party pug post-ironic, pitchfork quinoa mumblecore live-edge man braid ugh fingerstache DIY vape poke.
                    </p>
                    <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        Biodiesel retro helvetica ramps, forage gluten-free chartreuse lo-fi blog hashtag yuccie fanny pack bushwick. Activated charcoal roof party pug post-ironic, pitchfork quinoa mumblecore live-edge man braid ugh fingerstache DIY vape poke.
                    </p>
                </div>
                <div class="col-md-6">
                     <label>  
                        <div class="bg-anim">
                            <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0s">Tecnologies:</span>
                            <div class="anim wow" data-wow-duration="1s" data-wow-delay="0s"></div>
                        </div>

                     </label>
                     <h4 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">Angular JS</h4>
                     <h4 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Python/Django</h4>
                     <h4 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">HTML/CSS</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="screen-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 no-padding">
                    <div class="img-wrapper midnight">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                            <div class="img-holder">
                                <img src="{% static 'images/projects/book-ipad2.png' %}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 no-padding">
                    <div class="img-wrapper midnight">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                            <div class="img-holder">
                                <img src="{% static 'images/projects/book-ipad3.png' %}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-links">
        <div class="container-fluid no-padding">
            <div class="col-md-6 no-padding">
                <div class="item-link">
                    <div>
                        <h3>JOBS</h3>
                        <a href="{% url 'jobs' %}" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">VIEW CASE STUDIES
                            <img src="{% static 'images/arrow-right.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="item-link" ">
                    <div>
                        <h3>SWIFT LEARN</h3>
                        <a href="{% url 'learn' %}" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">VIEW CASE STUDIES
                            <img src="{% static 'images/arrow-right.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}