{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ext-content" >
    <div class=" contact">
        <div class="container">
            <div class="sc-section contact-form text-center ">
                <form role="form" action="{% url 'contact' %}" method="post">{% csrf_token %}
                    <div>
                        <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">Instantly reach us filling form below</h2>
                        <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                            <span>Hello, my name is</span>
                            <input type="text" name="name" id="name" placeholder="what people call you"> <span>I am looking for help with a</span>
                            <input type="text" name="subject" id="subject" placeholder="what's the problem">
                        </p>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s">
                            <span>My budget is</span>
                            <input type="number" name="budget" placeholder="$$$$$"> <span>I need it done by</span>
                            <input type="date" name="date" id="date">
                        </p>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.4s">
                            <span>you can e-mail me at</span>
                            <input type="email" name="email" id="email" placeholder="your email">
                        </p>
                        <button type="submit" class="btn btn-submit wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.6s">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row">
                   <div class="col-md-7">
                        <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">Everything you need to make a successful digital product or service</h2>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            Our experienced product building team can work with you to define your product's key features and milestone deliverables to meet your business' needs. Get in touch with us through the links below and you'll receive a direct consultation with our business development team.
                        </p>
                   </div>
                </div>
            </div>

        </div>
    </div>
    <div id="map"></div>
    <div class="lower-nav test">
        <div class="">
            <a href="{% url 'services' %}">
                <span class="test-trans">SVC.</span>
                <span>
                    <i class="ion-ios-arrow-thin-left">

                    </i>
                </span>
            </a>
        </div>
        <div>
            <a href="{% url 'works' %}" class="sty">
                <span>WRK.</span>
                <span>
                    <i class="ion-ios-arrow-thin-right">

                    </i>
                </span>
            </a>
        </div>
    </div>
    <div class="bottom-link" data-wow-duration="0.5s" data-wow-delay="1s">
        <h3>We always create something amazing.</h3>
        <div id="" class="carousel vertical slide pagelinks">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="{% url 'works' %}">
                    <span>
                        See our <strong>works</strong>
                        <i class="icon ion-ios-arrow-thin-right"></i>
                    </span>
                </a>
                </div>
                <div class="item">
                    <a href="{% url 'about' %}">
                    <span>
                        Know our
                        <strong>
                            story
                            <span class="line"></span>
                        </strong>
                        <i class="icon ion-ios-arrow-thin-right"></i>
                    </span>
                </a>
                </div>
                <div class="item">
                    <a href="{% url 'contact' %}">
                    <span>
                        Talk to <strong>us</strong>
                        <i class="icon ion-ios-arrow-thin-right"></i>
                    </span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
