{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="masthead main-masthead section">
        <div class="container">
            <div class="header-content on-animate ">
                <h2 class="intro-title">Hello. We are Swiftkind</h2>
                <h2 class="main-text">Web Development Agency</h2>
                <p>We engineer, scale and market digital products</p>
            </div> 
        </div>
    </div>
    <div class="intro-text section" data-section-name="about-us">
        <div class="container">
            <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                We are committed to deliver products that innovates the way people connect and work. We create experiences that help individuals, startups, brands and corporations innovate and change lives.
            </h3>
            <div class="item-links">
                <a href="{% url 'about' %}" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW <strong>OUR STORY</strong>
                    <img src="{% static 'images/arrow-right.svg' %}">
                </a>
                <div class="link-options">
                    <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                    <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                    <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
                </div>
            </div>
        </div>
    </div>
        
    <div class="services-section section" data-section-name="services">
        <div class="section-title">
            <p>THINGS WE'RE GOOD AT</p>
        </div>
        <div class="services-carousel" >
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 services-item">
                            <div class="text-wrapper">
                                <div class="text-content main">
                                   <div class="content">
                                        <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">DVT.</h2>
                                    </div>
                                </div>
                                <div class="text-content main lined">
                                    <div class="content-links">
                                        <div class="fit-content-wrapper">
                                            <div class="owl-carousel owl-theme" id="dvt-carousel">
                                                <div class="item">
                                                    <div class="services-description">
                                                        <h3>Front-end Development</h3>
                                                        <p>
                                                            Sustainable dreamcatcher helvetica irony asymmetrical, cray four loko austin fanny pack normcore. Venmo activated charcoal occupy craft beer palo santo, cliche pinterest trust fund quinoa leggings.
                                                        </p>
                                                        <a href="#" class="next-slide">
                                                            <div class="next-link">
                                                                <span class="link-text"> <div class="blink"></div><div class="blink"></div>Product Strategy</span>
                                                                <span class="link-line"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="services-description">
                                                        <h3>Product Strategy</h3>
                                                        <p>
                                                            Sustainable dreamcatcher helvetica irony asymmetrical, cray four loko austin fanny pack normcore. Venmo activated charcoal occupy craft beer palo santo, cliche pinterest trust fund quinoa leggings.
                                                        </p>
                                                        <a href="#" class="next-slide">
                                                            <div class="next-link ">
                                                                <span class="link-text "><div class="blink"></div>Responsive Design</span>
                                                                <span class="link-line"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line"></div>
                            </div>
                        </div>
                        <div class="col-md-6 services-item">
                            <div class="text-wrapper">
                                <div class="text-content main">
                                    <div class="content">
                                        <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">DSN.</h2>
                                    </div>
                                </div>
                                <div class="text-content main lined">
                                    <div class="content-links">
                                        <div class="fit-content-wrapper">
                                            <div class="owl-carousel owl-theme" id="dsn-carousel">
                                                <div class="item">
                                                    <div class="services-description">
                                                        <h3>UI/UX Design</h3>
                                                        <p>
                                                            Sustainable dreamcatcher helvetica irony asymmetrical, cray four loko austin fanny pack normcore. Venmo activated charcoal occupy craft beer palo santo, cliche pinterest trust fund quinoa leggings.
                                                        </p>
                                                        <a href="#" class="next-slide">
                                                            <div class="next-link">
                                                                <span class="link-text"> <div class="blink"></div> <div class="blink"></div>Product Strategy</span>
                                                                <span class="link-line"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="services-description">
                                                        <h3>Product Strategy</h3>
                                                        <p>
                                                            Sustainable dreamcatcher helvetica irony asymmetrical, cray four loko austin fanny pack normcore. Venmo activated charcoal occupy craft beer palo santo, cliche pinterest trust fund quinoa leggings.
                                                        </p>
                                                        <a href="" class="next-slide" >
                                                            <div class="next-link ">
                                                                <span class="link-text "><div class="blink"></div><div class="blink"></div>Responsive Design</span>
                                                                <span class="link-line"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="services-description">
                                                        <h3>Prototyping</h3>
                                                        <p>
                                                            Sustainable dreamcatcher helvetica irony asymmetrical, cray four loko austin fanny pack normcore. Venmo activated charcoal occupy craft beer palo santo, cliche pinterest trust fund quinoa leggings.
                                                        </p>
                                                        <a href="#" >
                                                            <div class="next-link next-slide">
                                                                <span class="link-text"><div class="blink"></div><div class="blink"></div>Wireframes</span>
                                                                <span class="link-line"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="hr-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="screen-section section" data-section-name="our-projects">
        <div class="section-title">
            <p>STUFF WE'RE PROUD OF</p>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="img-wrapper blackpearl">
                            <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                                <div class="img-holder">
                                    <img src="{% static 'images/layer-4.png' %}" class="img-responsive">
                                </div>
                                <div class="content-wrapper">
                                    <ul class="techs">
                                        <li>
                                            <a href="#">UI/UX DESIGN</a>
                                        </li>
                                        <li>
                                            <a href="#">PYTHON</a>
                                        </li>
                                        <li>
                                            <a href="#">DJANGO</a>
                                        </li>
                                        <li>
                                            <a href="#">ANGULAR</a>
                                        </li>
                                    </ul>
                                    <p class="title">BOOK APP</p>
                                    <a href="{% url 'bookapp' %}" class="link-bordered hvr-sweep-to-right">
                                        VIEW CASE STUDIES 
                                        <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="img-wrapper midnight">
                            <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
                                <div class="img-holder">
                                    <img src="{% static 'images/layer-5.png' %}" class="img-responsive">
                                </div>
                                <div class="content-wrapper">
                                    <ul class="techs">
                                        <li>
                                            <a href="#">UI/UX DESIGN</a>
                                        </li>
                                        <li>
                                            <a href="#">PYTHON</a>
                                        </li>
                                        <li>
                                            <a href="#">DJANGO</a>
                                        </li>
                                        <li>
                                            <a href="#">ANGULAR</a>
                                        </li>
                                    </ul>
                                    <p class="title">TRACKR.</p>
                                    <a href="{% url 'trackr' %}" class="link-bordered hvr-sweep-to-right">
                                        VIEW CASE STUDIES 
                                        <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="img-wrapper midnight">
                            <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">
                                <div class="img-holder">
                                    <img src="{% static 'images/layer-6.png' %}" class="img-responsive">
                                </div>
                                <div class="content-wrapper">
                                    <ul class="techs">
                                        <li>
                                            <a href="#">UI/UX DESIGN</a>
                                        </li>
                                        <li>
                                            <a href="#">PYTHON</a>
                                        </li>
                                        <li>
                                            <a href="#">DJANGO</a>
                                        </li>
                                        <li>
                                            <a href="#">ANGULAR</a>
                                        </li>
                                    </ul>
                                    <p class="title">SWIFTLEAR</p>
                                    <a href="{% url 'learn' %}" class="link-bordered hvr-sweep-to-right">
                                        VIEW CASE STUDIES 
                                        <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="img-wrapper blackpearl">
                            <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                                <div class="img-holder">
                                    <img src="{% static 'images/layer-7.png' %}" class="img-responsive">
                                </div>
                                <div class="content-wrapper">
                                    <ul class="techs">
                                        <li>
                                            <a href="#">UI/UX DESIGN</a>
                                        </li>
                                        <li>
                                            <a href="#">PYTHON</a>
                                        </li>
                                        <li>
                                            <a href="#">DJANGO</a>
                                        </li>
                                        <li>
                                            <a href="#">ANGULAR</a>
                                        </li>
                                    </ul>
                                    <p class="title">JOBS</p>
                                    <a href="{% url 'jobs' %}" class="link-bordered hvr-sweep-to-right">
                                        VIEW CASE STUDIES 
                                        <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-link">
                   <a href="#" class="primary-link">VIEW MORE <strong>CASE STUDIES</strong>  <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm"></a>
                </div>
            </div>
        </div>
        <div class="section testimonies" data-section-name="testimonies">
            <div class="section-title">
                <p>WHAT OOUR CLIENTS SAY</p>
            </div>
            <div class="owl-carousel owl-theme" id="testimonies">
                <div class="item">
                <p class="testimony">
                    To be a consistent winner means preparing not just one day, one month, or even one year — but for a lifetime.
                </p>
                <div class="author">
                    <span class="line"></span>
                    <div>
                        <p class="name">
                            Dan Red
                        </p>
                        <p class="designation">
                            CEO, Company Inc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <p class="testimony">
                    To be a consistent winner means preparing not just one day, one month, or even one year — but for a lifetime.
                </p>
                <div class="author">
                    <span class="line"></span>
                    <div>
                        <p class="name">
                            Dan Red
                        </p>
                        <p class="designation">
                            CEO, Company Inc.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="contact-link">
            <h4 class="text-bg">WORK WITH US</h4>
            <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">Let's create something amazing</h3>
            <a href="#" class="inverted-link wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">MAKE IT HAPPEN</a>
        </div>
    </div>
</div>
{% endblock %}