{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="">
    <div class="masthead section" id="">
        <div id="masthead" class="particles"></div>

        <div class="container">
            <div class="contents">
                <div class="text-content">
                    <div>
                        <div class="sk-line align-center"></div>
                        <h2>Web Development Agency</h2>
                        <p>We engineer, scale and market digital products</p>
                      
                    </div>
                </div>
            </div>
        </div>
         <img src="{% static 'images/icons/main-arrow-down.svg' %}" class="arrow-down main-arrow-down">
    </div>
</div>
<div class="section" id="about-us" data-section-name="aboutUs">
    <div id="about" class="particles"></div>
    <div class="container">
        <p class="section-text-lg" data-1000="top:200px" data-1600="top: 200px">ABOUT</p>
        <div class="about-text">
            <p class="section-title">IN A NUTSHELL
                <span></span>
            </p>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="section-content">
                        <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s" data-1500="opacity:1; transform: translate3d(0px, -0.411px, 0px); " data-2000="opacity: 0;transform: translate3d(0px, -80.411px, 0px)">Delivering strategic experiences and platforms accross the web.</h2>
                        <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s" data-1300="opacity: 1;transform: translate3d(0px, 0.411px, 0px)" data-1600="opacity:0; .2transform: translate3d(0px, -80.411px, 0px)">
                            A Web Development Team committed to deliver products that innovate the way people connect and work. We create experiences that help individuals, startups, brands and corporations improve and change lives.
                        </p>
                        <a href="{% url 'about' %}" id="aboutLink" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">Know the story behind Swiftkind <span class="icon ion-ios-arrow-forward"></span> </a>
                        <div class="stats">
                            <div class="item">
                                <div >
                                    <span class="count-number">
                                    12
                                    </span>
                                    <span class="icon ion-arrow-up-c"></span>
                                </div>
                                <p class="">Members</p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <div>
                                    <span class="count-number">
                                    14
                                    </span>
                                    <span class="icon ion-arrow-up-c"></span>
                                </div>
                                <p>Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section services">
    <div class="container">
        <div class="default-content">
            <div class="section-content text-center">
                <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">Things we are good at</h2>
                <p class="text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">New forms of mobility are conquering our cities, substantially changing the way we move, live and work. With our worldwide network comprising over 3,000 cities, logistica</p>
            </div>
            <div class="row services-links">
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                    <a href="{% url 'design' %}" class="img-wrapper left">
                        <div class="side-box"></div>
                        <div class="link-text">
                            <p class="text">DSN.</p>
                            <span class="help-text">Know more</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <a href="{%  url 'development' %}" class="img-wrapper center">
                        <div class="side-box"></div>
                        <div class="link-text">
                            <p class="text">DVT.</p>
                            <span class="help-text">Know more</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <a href="{% url 'strategy' %}" class="img-wrapper right">
                        <div class="side-box"></div>
                        <div class="link-text">
                            <p class="text">STY.</p>
                            <span class="help-text">Know more</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" data-3200="background-color:rgb(255,255,255);" data-3500="background-color:rgb(0,0,0);">
    <div id="processPart"></div>
    <div class="container">
        <p class="section-text-lg">PROCESS</p>
        <div class="about-text">
            <p class="section-title">
                HOW WE WORK
                <span></span>
            </p>
            <div class="row">
                <div class="col-md-9">
                    <div class="section-content">
                        <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">Builds platforms using agile methodology and leading edge technologies.</h2>
                        <p class=" caption wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s" >
                            Successful digital products are built through systematic processes and not by chances. Whether that’s by creating something entirely new or innovating an existing product, we remain to be agile before, during and after development.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bottom-link  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                    <h3>We create something amazing.</h3>
                    <div id="" class="carousel vertical slide  pagelinks">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="{% url 'services' %}">
                                    <span>
                                        Know more about the process we <strong>live by</strong>
                                        <i class="icon ion-ios-arrow-thin-right"></i>
                                    </span>
                                </a>
                            </div>

                            <div class="item">
                                <a href="{% url 'contact' %}">
                                     <span>
                                        Tell us about<strong> your project</strong>
                                        <i class="icon ion-ios-arrow-thin-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="{% url 'about' %}">
                                    <span>
                                        People<strong> behind swiftkind</strong>
                                        <i class="icon ion-ios-arrow-thin-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="section process" data-3200="background-color:rgb(255,255,255);" data-3500="background-color:rgb(0,0,0);">
    <div class="container">
        <p class="section-text-lg">WE ARE AGILE</p>
        <div class="row flex">
            <div class="col-md-5">
                <div class="section-content">
                    <h2 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">We think big, but start small.</h2>
                    <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">Right from the start.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel-group" id="process-steps">
                    <div class="panel ">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#discover" data-toggle="collapse" data-parent="#process-steps" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                <span class="line"></span>
                                <span class="number">01</span>
                                <span class="text">DISCOVER</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse in wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.7s" id="discover">
                            <div class="panel-body wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.8s">
                                <p>
                                    During the discovery phase our team conducts a detailed requirement analysis and creates a work-breakdown structure.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#design" data-toggle="collapse" data-parent="#process-steps" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2s">
                                <span class="line"></span>
                                <span class="number">02</span>
                                <span class="text">DESIGN</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="design">
                            <div class="panel-body">
                                <p>
                                    We identify the design and architecture of the project. Business case, Initial product back long, Release plan, Assemble team.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#process-steps" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.2s" id="sprint-trigger">
                                <span class="line"></span>
                                <span class="number">03</span>
                                <span class="text">SPRINT PLANNING</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="sprint">
                            <div class="v-line wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.5s"></div>
                            <span class="iterate wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.2s">ITERATE</span>
                            <div class="panel-body">
                                <p>
                                    The team identifies scope of work for each iteration and tracks the progress. In this phase we do the intro and retrospective.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#developement" data-toggle="collapse" data-parent="#process-steps" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.4s">
                                <span class="line"></span>
                                <span class="number">04</span>
                                <span class="text">DEVELOPMENT</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="developement">
                            <div class="panel-body">
                                <p>
                                    The team work on the tickets assigned to them on the specified iteration. We follow the Scrum Process.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#deliver" data-toggle="collapse" data-parent="#process-steps" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.7s">
                                <span class="line"></span>
                                <span class="number">05</span>
                                <span class="text">DELIVER</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="deliver">
                            <div class="panel-body">
                                <p>We conduct a work demo during each sprint and collect any feedback received to be incorporated in the next sprint.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients">
<div class="left-shadow"></div>
<div class="right-shadow"></div>
    <div class="container-fluid">
        <div class="owl-carousel owl-theme  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" id="clients">
            <div class="item">
                <div class="msg">
                    
                    <p class="author">First Name Lastname <span class="dash"></span>CEO</p>
                    <h3 class="company">Trulycast</h3>
                    <p class="message">
                    <img src="{% static 'images/icons/quote.svg' %}" class="quote">
                        Brunch four dollar toast raclette cray. Tote bag pabst la croix readymade pinterest scenester, palo santo pork belly polaroid irony af normcore tbh dreamcatcher man bun.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="msg">
                    
                    <p class="author">First Name Lastname <span class="dash"></span>CEO</p>
                    <h3 class="company">Trulycast</h3>
                    <p class="message">
                    <img src="{% static 'images/icons/quote.svg' %}" class="quote">
                        Brunch four dollar toast raclette cray. Tote dreamcatcher man bun.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-cta">
    <p class="section-text-lg">WORK WITH US</p>
    <h2>
        Let's talk about your project
    </h2>
    <div class="btn-cta">
        <a href="{% url 'contact' %}">MAKE IT HAPPEN</a>
    </div>
</div>
{% endblock %}
