{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="masthead section ">
        <div class="container main-text">
            <div class="header-content">
                <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        OUR THOUGHTS ON EVERYTHING
                </h3>
                <h4>
                    <span class="text-content-wrapper">
                        <span class="letters  wow" data-wow-duration="0.5s" data-wow-delay="0s">Few things about our culture, stuff we do and things we know. If there is something that interests us, we write it here. </span>
                  </span>
                </h4>
            </div>
        </div>
        <div class="scroll"></div>
    </div>
    <div class="blog-section">
        <div class="section-title">
            <div class="bg-anim">
                <span class="text-anim wow" data-wow-duration="0.5s" data-wow-delay="0s">OUR THOUGHTS</span>
                <div class="anim wow" data-wow-duration="0.5s" data-wow-delay="0s"></div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row featured-blog">
                    <div class="col-md-5">
                        <div class="blog-img" style="background-image: url('{% static 'images/bl2.jpg' %}');"> </div>
                    </div>
                    <div class="col-md-7">
                        <div class="blog-text">
                            <div>
                                <h2> Up your game and reap the rewards</h2>
                                <h4>We are committed to deliver products that innovates the way people connect and work. We create experiences that help individuals, startups, brands and corporations innovate and change lives.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-thumbnails">
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl1.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Up your game and reap the rewards</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl3.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Street art cardigan wayfarers PBR&B shoreditch typewriter </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl4.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">UI/UX</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Selvage quinoa umami artisan green juice </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl5.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Succulents intelligentsia mixtape, synth actually tumblr lumbersexual.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl6.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Taxidermy marfa pinterest master cleanse aesthetic yr retro tattooed jianbing.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl7.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Up your game and reap the rewards</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl8.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Up your game and reap the rewards</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl9.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Up your game and reap the rewards</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl10.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Up your game and reap the rewards</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-item">
                            <div class="blog-img" style="background-image: url('{% static 'images/bl1.jpg' %}');"></div>
                            <div class="blog-text">
                                <div class="category">
                                    <a href="#">DEVELOPMENT</a>
                                    <a href="#" class="date">09 / 15 /17</a>
                                </div>
                                <h3>
                                    <a href="#">Up your game and reap the rewards</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="map-container">
        <div class="map-details">
            <div>
                <div class="details-header">
                    <h2>Swiftkind HQ</h2>
                    <h4>4:37 PM (GMT+ 8)</h4>
                </div>
                <h3>
                    (082) 225 1050 | contact@swiftkind.com
                </h3>
            </div>
        </div>
        <iframe src="https://snazzymaps.com/embed/27006" width="100%" height="600px" style="border:none;" class="map"></iframe>
    </div>
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
           Swiftkind is a challenge-driven team eager to meet new people that push us to be more creative and bold. Tell us how you want to change the future and let's rock on!
        </p>
        <div class="item-links">
            <a href="{% url 'about' %}" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW OUR STORY
                <img src="{% static 'images/arrow-right-black.svg' %}" class="arrow-sm">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}