{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <nav class="nav navbar main-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img src="{% static 'images/logo.png' %}" class="img-responsive">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a href="#" class="navTrigger">
                    <span class="icon ion-navicon"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="header">
            <div class="header-text">
                <div class="text-center">
                    <h2 class="top-text">Things we offer and do well.</h2>

                    <div class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="4s">
                        <h2 class="hd-text">We’re crafting digital products that exceeds expectationd and change lives.</h2>
                        <p class="hd-text">
                            Software engineering isn’t just something we do.That’s what we are made of. Everyday at swiftkind.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ext-content service-page">
   <div class="container">

    <!-- ---------- DESIGN ---------- -->
        <p class="section-text-lg">SERVICES</p>
        <div class="about-text">
            <p class="section-title">
                WHAT WE DO BEST
                <span></span>
            </p>
            <div class="sc-section">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="sc-title">
                            <h2 class="services-name wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">DSN.</h2>
                            <p class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.5s">It's for DESIGN!</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-group" id="services-dsn">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dsn-strategy" data-toggle="collapse" data-parent="#services-dsn" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">Product Strategy</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse in wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.7s" id="dsn-strategy">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dsn-ux" data-toggle="collapse" data-parent="#services-dsn" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">User Experience</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dsn-ux">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dsn-ui" data-toggle="collapse" data-parent="#services-dsn" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                            <span class="line"></span>
                                            <span class="text">User Interface Design</span>
                                    </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dsn-ui">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dsn-responsive" data-toggle="collapse" data-parent="#services-dsn" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">Responsive Design</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dsn-responsive">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dsn-prototyping" data-toggle="collapse" data-parent="#services-dsn" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">Prototyping</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dsn-prototyping">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dsn-wireframes" data-toggle="collapse" data-parent="#services-dsn" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">Wireframes</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dsn-wireframes">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-section">
            <div class="section-content">
                <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">FEATURED PROJECTS</h3>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">Hell of locavore chicharrones, prism semiotics taxidermy gentrify. </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="project-preview wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <img src="assets/images/macbook.png" class="img-responsive">
                        <div class="details">
                            <p class="project-title">TRULYCAST</p>
                            <p class="project-desc">Actually tumblr tacos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="project-preview wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <img src="assets/images/phone.png" class="img-responsive">
                        <div class="details">
                            <p class="project-title">TRULYCAST</p>
                            <p class="project-desc">Actually tumblr tacos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------- DESIGN -------------- -->

         <!-- ------------- DEVELOPMENT -------------- -->
        <div class="about-text">
            <div class="sc-section">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="sc-title">
                            <h2 class="services-name  wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">DVT.</h2>
                            <p class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.5s">Huh! DEVELOPMENT!</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-group" id="services-dvt">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dvt-prototype" data-toggle="collapse" data-parent="#services-dvt" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">Prototyping</span>
                                </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse in  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s" id="dvt-prototype">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dvt-frontdev" data-toggle="collapse" data-parent="#services-dvt" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                            <span class="line"></span>
                                            <span class="text">Front-end Development</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dvt-frontdev">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dvt-backdev" data-toggle="collapse" data-parent="#services-dvt" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                            <span class="line"></span>
                                            <span class="text">Back-end Development</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dvt-backdev">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dvt-restful" data-toggle="collapse" data-parent="#services-dvt" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                            <span class="line"></span>
                                            <span class="text">REST API</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dvt-restful">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#dvt-achitecture" data-toggle="collapse" data-parent="#services-dvt" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                            <span class="line"></span>
                                            <span class="text">Project Architecture</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="dvt-achitecture">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-section">
            <div class="section-content">
                <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">FEATURED PROJECTS</h3>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">Hell of locavore chicharrones, prism semiotics taxidermy gentrify. </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="project-preview wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <img src="assets/images/macbook.png" class="img-responsive">
                        <div class="details">
                            <p class="project-title">TRULYCAST</p>
                            <p class="project-desc">Actually tumblr tacos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="project-preview wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <img src="assets/images/phone.png" class="img-responsive">
                        <div class="details">
                            <p class="project-title">TRULYCAST</p>
                            <p class="project-desc">Actually tumblr tacos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- ------------- DEVELOPMENT -------------- -->

        <!--  ------------ STRATEGY ------------- -->


        <div class="about-text">
            <div class="sc-section">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="sc-title">
                            <h2 class="services-name  wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">STY.</h2>
                            <p class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.5s">uhm, Just STRATEGY.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-group" id="services-sty">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a href="#sty-prototype" data-toggle="collapse" data-parent="#services-sty" class="step-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                                        <span class="line"></span>
                                        <span class="text">Prototyping</span>
                                </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse in wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.7s" id="sty-prototype">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-section">
            <div class="section-content">
                <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">FEATURED PROJECTS</h3>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Hell of locavore chicharrones, prism semiotics taxidermy gentrify. </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="project-preview wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <img src="assets/images/macbook.png" class="img-responsive">
                        <div class="details">
                            <p class="project-title">TRULYCAST</p>
                            <p class="project-desc">Actually tumblr tacos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="project-preview wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <img src="assets/images/phone.png" class="img-responsive">
                        <div class="details">
                            <p class="project-title">TRULYCAST</p>
                            <p class="project-desc">Actually tumblr tacos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  ------------ STRATEGY ------------- -->
        <div class="sc-section">
            <p class="section-text-lg">TECHNOLOGIES</p>
            <div class="about-text">
                <p class="section-title">
                   TOOLS OF THE TRADE
                    <span></span>
                </p>
            </div>
           <div class="col-md-8 col-md-offset-2">
                <div class="section-content text-center">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s"">Builds platforms using agile methodology and leading edge technologies.</h3>
                    <p class="caption text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        Successful digital products are built by having systematic processes and not by chances. Whether that’s by creating something entirely new or innovating an existing product, we remain to be agile before, during and after deevelopment.
                    </p>
                </div>
           </div>
            <div class="technology">
                <div class="inline-flex tech-icons">
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <img src="assets/images/icons/logo-angular.svg">
                        <p>Angular.js</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        <img src="assets/images/icons/logo-bootstrap.svg">
                        <p>Bootstrap</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                        <img src="assets/images/icons/logo-typescript.svg">
                        <p>TypeScript</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.6s">
                        <img src="assets/images/icons/logo-d-3.svg">
                        <p>D3.js</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.8s">
                        <img src="assets/images/icons/logo-django.svg">
                        <p>Django</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                        <img src="assets/images/icons/logo-git.svg">
                        <p>Git</p>
                    </div>
                </div>
                <div class="inline-flex tech-icons">
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.2s">
                        <img src="assets/images/icons/logo-html-5.svg">
                        <p>HTML5</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.4s">
                        <img src="assets/images/icons/logo-js.svg">
                        <p>Javascript</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">
                        <img src="assets/images/icons/logo-python.svg">
                        <p>Python</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.8s">
                        <img src="assets/images/icons/logo-sass.svg">
                        <p>Sass</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="3s">
                        <img src="assets/images/icons/logo-ubuntu.svg">
                        <p>Ubuntu</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="3.2s">
                        <img src="assets/images/icons/logo-postgre.svg">
                        <p>PostgreSQL</p>
                    </div>
                </div>
                <div class="inline-flex tech-icons">
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="3.4s">
                        <img src="assets/images/icons/logo-sketch.svg">
                        <p>Sketch</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="3.6s">
                        <img src="assets/images/icons/logo-zeplin.svg">
                        <p>Zeplin</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="3.8s">
                        <img src="assets/images/icons/logo-invision.svg">
                        <p>Invision</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="4s">
                        
                        <img src="assets/images/icons/logo-xd.svg">
                        <p>Adobe XD</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="4.2s">
                        <img src="assets/images/icons/logo-ai.svg">
                        <p>Illustrator</p>
                    </div>
                    <div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="4.4s">
                        <img src="assets/images/icons/logo-ps.svg">
                        <p>Photoshop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lower-nav">
    <div class="">
        <a href="{% url 'design' %}">
        <span>DSN.</span>
        <span>
        <i class="ion-ios-arrow-thin-left">
        </i>
        </span>
        </a>
    </div>
    <div>
        <a href="{% url 'strategy' %}" class="sty">
        <span>STY.</span>
        <span>
        <i class="ion-ios-arrow-thin-right">
        </i>
        </span>
        </a>
    </div>
</div>
<div class="bottom-link" data-wow-duration="0.5s" data-wow-delay="1s">
    <h3>We always create something amazing.</h3>
    <div id="" class="carousel vertical slide pagelinks">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="{% url 'works' %}">
                <span>
                See our <strong>works</strong>
                <i class="icon ion-ios-arrow-thin-right"></i>
                </span>
                </a>
            </div>
            <div class="item">
               <a href="{% url 'about' %}">
                <span>
                Know our
                <strong>
                story
                <span class="line"></span>
                </strong>
                <i class="icon ion-ios-arrow-thin-right"></i>
                </span>
                </a>
            </div>
            <div class="item">
                <a href="{% url 'contact' %}">
                <span>
                Talk to <strong>us</strong>
                <i class="icon ion-ios-arrow-thin-right"></i>
                </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
