{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="masthead main-masthead section" data-section-name="projects">
        <div class="container">
            <div class="header-content">
                <h1>
                    <span class="text-content-wrapper">
                        <p class="letters  wow" data-wow-duration="0.5s" data-wow-delay="0s">We design and develop applications that </p>
                        <p class="letters  wow" data-wow-duration="0.5s" data-wow-delay="0.5s">improve people's lives.</p>
                  </span>
                </h1>
            </div>
        </div>
    </div>

    <div class="screen-section section" >
        <div class="section-title">
           <div class="bg-anim">
                <span class="text-anim">STUFF WE'RE PROUD OF</span>
                <div class="anim"></div>
            </div>
        </div>
        <div class="container">
            <a href="{% url 'trackr' %}" >
                <div class="row item trackr wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="col-md-6 flex-center">
                        <h3>Trackr.</h3>
                        <div class="specs">
                            <h4 class="category">WORK</h4>
                            <p>
                                <span>PYTHON</span>
                                <span>DJANGO</span>
                                <span>ANGULAR</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <img src="{% static 'images/trackr.png' %}" class="img-responsive">
                    </div>
                </div>
            </a>
            <a href="{% url 'jobs' %}" >
                <div class="row item sjobs wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                    <div class="col-md-6 flex-center">
                        <h3>Jobs</h3>
                        <div class="specs">
                            <h4 class="category">WORK</h4>
                            <p>
                                <span>PYTHON</span>
                                <span>DJANGO</span>
                                <span>ANGULAR</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <img src="{% static 'images/jobs.png' %}" class="img-responsive">
                    </div>
                </div>
            </a>
            <a href="{% url 'bookapp' %}" >
                <div class="row item bookapp wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                    <div class="col-md-6 flex-center">
                        <h3>Book</h3>
                        <div class="specs">
                            <h4 class="category">WORK</h4>
                            <p>
                                <span>PYTHON</span>
                                <span>DJANGO</span>
                                <span>ANGULAR</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <img src="{% static 'images/book.png' %}" class="img-responsive">
                    </div>
                </div>
            </a>
            <a href="{% url 'learn' %}" >
                <div class="row item slearn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2s">
                    <div class="col-md-6 flex-center">
                        <h3>Swift Learn</h3>
                        <div class="specs">
                            <h4 class="category">WORK</h4>
                            <p>
                                <span>PYTHON</span>
                                <span>DJANGO</span>
                                <span>ANGULAR</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <img src="{% static 'images/learn.png' %}" class="img-responsive">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
            A digital product agency committed to deliver products that innovates the way people connect and work. We create experiences that help individuals, startups, brands and corporations innovate and change lives.
        </p>
        <div class="item-links">
            <a href="#" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW <strong>OUR STORY</strong>
                <img src="{% static 'images/arrow-right.svg' %}">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}