{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="masthead main-masthead section" data-section-name="projects">
        <div class="container">
            <div class="header-content">
                <h3>
                    <span class="text-content-wrapper">
                        <p class="letters  wow" data-wow-duration="0.5s" data-wow-delay="0s">We design and develop applications that improve people's lives.</p>
                  </span>
                </h3>
            </div>
        </div>
    </div>

    <div class="screen-section section" data-section-name="our-projects">
        <div class="section-title">
            <div class="bg-anim">
                <span class="text-anim wow" data-wow-duration="0.5s" data-wow-delay="0s" >STUFF WE'RE PROUD OF</span>
                <div class="anim wow" data-wow-duration="0.5s" data-wow-delay="0s"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="img-wrapper blackpearl">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                            <div class="img-holder">
                                <img src="{% static 'images/layer-4.png' %}" class="img-responsive">
                            </div>
                            <div class="content-wrapper">
                                <ul class="techs">
                                    <li>
                                        <a href="#">UI/UX DESIGN</a>
                                    </li>
                                    <li>
                                        <a href="#">PYTHON</a>
                                    </li>
                                    <li>
                                        <a href="#">DJANGO</a>
                                    </li>
                                    <li>
                                        <a href="#">ANGULAR</a>
                                    </li>
                                </ul>
                                <p class="title">BOOK APP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="img-wrapper midnight">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
                            <div class="img-holder">
                                <img src="{% static 'images/layer-5.png' %}" class="img-responsive">
                            </div>
                            <div class="content-wrapper">
                                <ul class="techs">
                                    <li>
                                        <a href="#">UI/UX DESIGN</a>
                                    </li>
                                    <li>
                                        <a href="#">PYTHON</a>
                                    </li>
                                    <li>
                                        <a href="#">DJANGO</a>
                                    </li>
                                    <li>
                                        <a href="#">ANGULAR</a>
                                    </li>
                                </ul>
                                <p class="title">TRACKR.</p>
                                <a href="{% url 'trackr' %}" class="link-bordered hvr-sweep-to-right">
                                    VIEW CASE STUDIES 
                                    <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="img-wrapper midnight">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">
                            <div class="img-holder">
                                <img src="{% static 'images/layer-6.png' %}" class="img-responsive">
                            </div>
                            <div class="content-wrapper">
                                <ul class="techs">
                                    <li>
                                        <a href="#">UI/UX DESIGN</a>
                                    </li>
                                    <li>
                                        <a href="#">PYTHON</a>
                                    </li>
                                    <li>
                                        <a href="#">DJANGO</a>
                                    </li>
                                    <li>
                                        <a href="#">ANGULAR</a>
                                    </li>
                                </ul>
                                <p class="title">SWIFTLEAR</p>
                                <a href="{% url 'learn' %}" class="link-bordered hvr-sweep-to-right">
                                    VIEW CASE STUDIES 
                                    <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="img-wrapper blackpearl">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                            <div class="img-holder">
                                <img src="{% static 'images/layer-7.png' %}" class="img-responsive">
                            </div>
                            <div class="content-wrapper">
                                <ul class="techs">
                                    <li>
                                        <a href="#">UI/UX DESIGN</a>
                                    </li>
                                    <li>
                                        <a href="#">PYTHON</a>
                                    </li>
                                    <li>
                                        <a href="#">DJANGO</a>
                                    </li>
                                    <li>
                                        <a href="#">ANGULAR</a>
                                    </li>
                                </ul>
                                <p class="title">JOBS</p>
                                <a href="{% url 'jobs' %}" class="link-bordered hvr-sweep-to-right">
                                    VIEW CASE STUDIES 
                                    <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-link">
               <a href="#" class="primary-link">VIEW MORE <strong>CASE STUDIES</strong>  <img src="{% static 'images/arrow-right.svg' %}" class="arrow-sm"></a>
            </div>
        </div>
    </div>
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
            Lorem ipsum dolor amet vice flannel pickled, yr heirloom farm-to-table prism copper mug poke pop-up PBR&B umami distillery bitters subway tile.
        </p>
        <div class="item-links">
            <a href="#" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW <strong>OUR STORY</strong>
                <img src="{% static 'images/arrow-right.svg' %}">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}