{% load staticfiles %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'dist/wow/js/wow.min.js' %}"></script>
<script src="{% static 'dist/particles.js/js/particles.js' %}"></script>
<script src="{% static 'dist/scrollify/js/jquery.scrollify.min.js' %}"></script>
<script src="{% static 'dist/owl-carousel/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'dist/owl-carousel/js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'dist/animejs/js/anime.2.0.1.js' %}"></script>
<script src="{% static 'dist/particles.js/js/app.js' %}"></script>
<script src="{% static 'dist/skrollr/js/skrollr.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>