@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/montseratt/Montserrat-Black.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/montseratt/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/montseratt/Montserrat-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/montseratt/Montserrat-ExtraLight.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/montseratt/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/montseratt/Montserrat-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/montseratt/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/montseratt/Montserrat-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../fonts/montseratt/Montserrat-Thin.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../fonts/open-sans/OpenSans-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/open-sans/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/open-sans/OpenSans-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url("../fonts/playfair-display/PlayfairDisplay-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  src: url("../fonts/playfair-display/PlayfairDisplay-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/playfair-display/PlayfairDisplay-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  src: url("../fonts/playfair-display/PlayfairDisplay-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url("../fonts/playfair-display/PlayfairDisplay-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/playfair-display/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Regular';
  src: url("../fonts/Larsseit/Larsseit-Regular.woff") format("woff"), url("../fonts/Larsseit/Larsseit-Regular.eot"), url("../fonts/Larsseit/Larsseit-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Light';
  src: url("../fonts/Larsseit/Larsseit-Light.woff") format("woff"), url("../fonts/Larsseit/Larsseit-Light.eot"), url("../fonts/Larsseit/Larsseit-Light.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Medium';
  src: url("../fonts/Larsseit/Larsseit-Medium.woff") format("woff"), url("../fonts/Larsseit/Larsseit-Medium.eot"), url("../fonts/Larsseit/Larsseit-Medium.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Bold';
  src: url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit/Larsseit-Bold.eot"), url("../fonts/Larsseit/Larsseit-Bold.woff");
  font-weight: normal;
  font-style: normal;
}
/* line 205, ../sass/_typography.scss */
body {
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143 !important;
  color: #333;
  background-color: #fff;
}

/* line 2, ../sass/_extends.scss */
*,
*:hover {
  cursor: url("../images/icons/cursor.svg"), auto !important;
  cursor: -webkit-image-set(url("../images/icons/cursor.svg") 1x, url("../images/icons/cursorx2.svg") 2x) 0 0, pointer !important;
}

/* line 9, ../sass/_extends.scss */
h1 {
  font-size: 30px;
  font-family: "Montserrat-Regular";
}

/* line 15, ../sass/_extends.scss */
a {
  color: #0edc87;
}
/* line 17, ../sass/_extends.scss */
a:hover {
  text-decoration: none;
  color: #0edc87;
}

/* line 24, ../sass/_extends.scss */
.align-center {
  margin-left: auto;
  margin-right: auto;
}

/* line 29, ../sass/_extends.scss */
.flex-center {
  display: flex;
  align-items: center;
}

/* line 34, ../sass/_extends.scss */
.justify-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 40, ../sass/_extends.scss */
.flex > [class^="col-"],
.flex > [class*=" col-"] {
  display: flex;
  align-items: center;
}

/* line 47, ../sass/_extends.scss */
.section {
  min-height: 100vh;
  padding: 12em 0;
  margin: -1px;
  position: relative;
}
/* line 52, ../sass/_extends.scss */
.section.masthead {
  height: 100vh !important;
}
/* line 57, ../sass/_extends.scss */
.section .section-header {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  font-family: "Montserrat-Regular";
  color: #191919;
}
/* line 65, ../sass/_extends.scss */
.section .section-subheader {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  font-family: "OpenSans-Regular";
  color: #9e9e9e;
  text-align: justify;
  text-align-last: left;
}
/* line 75, ../sass/_extends.scss */
.section.gradient-bg {
  background-image: linear-gradient(49deg, #34d7b5, #27c792);
}
/* line 76, ../sass/_extends.scss */
.section.gradient-bg .section-text-lg {
  color: rgba(255, 255, 255, 0.1);
}

/* line 86, ../sass/_extends.scss */
.section-text-lg {
  line-height: 0.19;
  letter-spacing: 5.6px;
  text-align: left;
  font-size: 112.5px;
  font-family: "Montserrat-SemiBold";
  position: absolute;
  top: 200px;
}

/* line 96, ../sass/_extends.scss */
.particles-js-canvas-el {
  position: absolute;
}

/* line 101, ../sass/_extends.scss */
.sk-8 {
  width: 66.66666667%;
}

/* line 107, ../sass/_extends.scss */
.sk-6 {
  width: 50%;
}

/* line 113, ../sass/_extends.scss */
.sk-4 {
  width: 33.33333333%;
}

/* line 118, ../sass/_extends.scss */
.title-sm {
  font-family: "Montserrat-SemiBold";
  font-size: 49.2px;
  line-height: 1.08;
  text-align: left;
  color: #ffffff;
}

/* line 126, ../sass/_extends.scss */
.title-lg {
  color: #26c68f;
  font-family: "Montserrat-SemiBold";
  width: 288px;
  font-size: 49.2px;
  line-height: 1.08;
}

/* line 135, ../sass/_extends.scss */
.round-rect {
  position: absolute;
  z-index: 1;
}

/* line 140, ../sass/_extends.scss */
.rect-lg, .rect-lg-green {
  width: 171.4px;
  height: 171.4px;
  border-radius: 10px;
}
/* line 144, ../sass/_extends.scss */
.rect-lg-green {
  transform: rotate(15deg);
  top: -16px;
  left: 24px;
  background-color: #26c68f;
}

/* line 153, ../sass/_extends.scss */
.rect-sm, .rect-sm-pink, .rect-sm-cyan, .rect-sm-yellow {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
/* line 158, ../sass/_extends.scss */
.rect-sm-pink {
  background-color: #f660b8;
  transform: rotate(20deg);
}
/* line 163, ../sass/_extends.scss */
.rect-sm-cyan {
  background-color: #43dbf7;
  transform: rotate(20deg);
}
/* line 168, ../sass/_extends.scss */
.rect-sm-yellow {
  background-color: #dbf743;
  transform: rotate(20deg);
}

/* line 176, ../sass/_extends.scss */
.panel {
  background-color: transparent;
}
/* line 179, ../sass/_extends.scss */
.panel .panel-title a {
  text-decoration: none;
}
/* line 181, ../sass/_extends.scss */
.panel .panel-title a.step-title {
  display: flex;
  align-items: center;
}
/* line 184, ../sass/_extends.scss */
.panel .panel-title a.step-title .line {
  position: absolute;
  width: 36px;
  height: 3px;
  border-bottom: solid 3px #0edc87;
}
/* line 190, ../sass/_extends.scss */
.panel .panel-title a.step-title .number {
  color: #0edc87;
  font-family: "Larsseit-Bold";
  font-size: 30px;
  margin-left: 50px;
  margin-right: 10px;
}
/* line 197, ../sass/_extends.scss */
.panel .panel-title a.step-title .text {
  font-family: "Larsseit-Bold";
  font-size: 30px;
  color: #ffffff;
}
/* line 205, ../sass/_extends.scss */
.panel .panel-body {
  border-top: none !important;
  margin-left: 50px;
  padding: 30px 0;
}
/* line 209, ../sass/_extends.scss */
.panel .panel-body p {
  font-family: "OpenSans-Light";
  font-size: 18px;
  line-height: 1.67;
  margin-left: 60px;
}

/* line 218, ../sass/_extends.scss */
.lower-nav {
  display: flex;
}
/* line 220, ../sass/_extends.scss */
.lower-nav div {
  width: 50%;
}
/* line 222, ../sass/_extends.scss */
.lower-nav div a {
  width: 100%;
  height: 405px;
  background: #191919;
  display: flex;
  color: #ffffff;
  font-size: 116.7px;
  font-family: "OpenSans-Bold";
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 233, ../sass/_extends.scss */
.lower-nav div a .test-trans {
  transform: translate3d(0, 0, 0);
  top: 0;
}
/* line 237, ../sass/_extends.scss */
.lower-nav div a i {
  font-size: 50px;
  display: inherit;
}
/* line 240, ../sass/_extends.scss */
.lower-nav div a i.ion-ios-arrow-thin-right {
  margin-left: 0;
  transition: ease 0.5s margin-left;
}
/* line 244, ../sass/_extends.scss */
.lower-nav div a i.ion-ios-arrow-thin-left {
  margin-right: 0;
  transition: ease 0.5s margin-right;
}
/* line 249, ../sass/_extends.scss */
.lower-nav div a:hover {
  background: #0d0d0d;
}
/* line 250, ../sass/_extends.scss */
.lower-nav div a:hover .test-trans {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
/* line 261, ../sass/_extends.scss */
.lower-nav div a:hover i.ion-ios-arrow-thin-right {
  margin-left: 100px;
  transition: ease 0.5s margin-left;
}
/* line 265, ../sass/_extends.scss */
.lower-nav div a:hover i.ion-ios-arrow-thin-left {
  margin-right: 100px;
  transition: ease 0.5s margin-right;
}

/* line 277, ../sass/_extends.scss */
.sk-line {
  width: 62px;
  height: 6px;
  border-radius: 2px;
  background-color: #0edc87;
}

@keyframes masthead {
  0% {
    background: black;
    color: #ffffff;
  }
  100% {
    background: white;
    color: #191919;
  }
}
@keyframes bg-bounce {
  0% {
    background: white;
    color: #0fa371;
  }
  50% {
    background: black;
  }
  100% {
    background: #0fa371;
    color: #ffffff;
  }
}
@-webkit-keyframes out-animate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  80% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
/* line 54, ../sass/_animation.scss */
.out-animate {
  animation-name: out-animate;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@keyframes top-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 74, ../sass/_animation.scss */
.todelay {
  animation-name: top-content;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* line 81, ../sass/_animation.scss */
.masthead {
  animation-name: masthead;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

/* line 89, ../sass/_animation.scss */
.sf-animation {
  visibility: visible;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-name: fadeInUp;
}
/* line 94, ../sass/_animation.scss */
.sf-animation.moved {
  animation-name: fadeInDown;
}

/* line 99, ../sass/_animation.scss */
.bg-bounce {
  height: 100%;
  animation-name: bg-bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 125, ../sass/_animation.scss */
.shape-bg {
  width: 40vh;
  height: 40vh;
  background-color: coral;
  -webkit-animation: squareToCircle 7s 0s infinite alternate;
  position: absolute;
  right: -100px;
  top: 25%;
}

/* line 136, ../sass/_animation.scss */
.shape-bg-1 {
  width: 30vh;
  height: 30vh;
  -webkit-animation: squareToCircle 4s 0s infinite;
  position: absolute;
  right: 0px;
  top: 30%;
}

@-webkit-keyframes squareToCircle {
  0% {
    border-radius: 10px 10px 10px 10px;
    background: rgba(15, 179, 123, 0.1);
    transform: rotate(0deg);
  }
  25% {
    border-radius: 10px 10px 10px 10px;
    background: rgba(15, 179, 123, 0.1);
    transform: rotate(45deg);
  }
  50% {
    border-radius: 10px 10px 10px 10px;
    background: rgba(15, 179, 123, 0.1);
    transform: rotate(90deg);
  }
  75% {
    border-radius: 10px 10px 10px 10px;
    background: rgba(15, 179, 123, 0.1);
    transform: rotate(135deg);
  }
  100% {
    border-radius: 20px 20px 20px 20px;
    background: rgba(15, 179, 123, 0.1);
    transform: rotate(180deg);
  }
}
/* line 1, ../sass/_header.scss */
.main-nav {
  padding: 20px 50px 0;
  position: relative;
  z-index: 99;
}
/* line 7, ../sass/_header.scss */
.main-nav .navbar-nav li a {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-size: 16px;
}
/* line 11, ../sass/_header.scss */
.main-nav .navbar-nav li a:hover, .main-nav .navbar-nav li a.active, .main-nav .navbar-nav li a:focus {
  background-color: transparent;
}
/* line 19, ../sass/_header.scss */
.main-nav .navTrigger {
  position: fixed;
  z-index: 55;
  right: 100px;
}
/* line 24, ../sass/_header.scss */
.main-nav .navTrigger span {
  font-size: 50px;
}

/* line 2, ../sass/_landing.scss */
.nutshell-container {
  position: relative;
}
/* line 5, ../sass/_landing.scss */
.nutshell-container .text-with-bg {
  position: absolute;
  opacity: 0;
}
/* line 8, ../sass/_landing.scss */
.nutshell-container .text-with-bg.center {
  bottom: -500px;
  left: 0;
  z-index: 10;
}
/* line 13, ../sass/_landing.scss */
.nutshell-container .text-with-bg.top {
  bottom: -550px;
  left: 5%;
}
/* line 16, ../sass/_landing.scss */
.nutshell-container .text-with-bg.top .main-text, .nutshell-container .text-with-bg.top .main-text-sm, .nutshell-container .text-with-bg.top .main-text-lg {
  width: 170px;
}
/* line 20, ../sass/_landing.scss */
.nutshell-container .text-with-bg.left {
  left: 5%;
  bottom: -550px;
}
/* line 24, ../sass/_landing.scss */
.nutshell-container .text-with-bg.right {
  left: 5%;
  bottom: -550px;
}
/* line 27, ../sass/_landing.scss */
.nutshell-container .text-with-bg.right .main-text, .nutshell-container .text-with-bg.right .main-text-sm, .nutshell-container .text-with-bg.right .main-text-lg {
  width: 160px;
}
/* line 31, ../sass/_landing.scss */
.nutshell-container .text-with-bg .main-text, .nutshell-container .text-with-bg .main-text-sm, .nutshell-container .text-with-bg .main-text-lg {
  color: #191919;
  text-align: left;
  font-family: "Montserrat-Regular";
  position: absolute;
  z-index: 2;
}
/* line 37, ../sass/_landing.scss */
.nutshell-container .text-with-bg .main-text-sm {
  font-size: 20px;
}
/* line 42, ../sass/_landing.scss */
.nutshell-container .text-with-bg .main-text-lg {
  font-size: 74.4px;
  line-height: 0.9;
  width: 275px;
}

/* line 57, ../sass/_landing.scss */
.contact-text {
  margin-top: 30px;
  color: #ffffff;
  max-width: 70%;
}
/* line 61, ../sass/_landing.scss */
.contact-text h2 {
  font-size: 76px;
  line-height: 0.95;
  font-family: "PlayfairDisplay-Bold";
  margin-bottom: 30px;
}
/* line 67, ../sass/_landing.scss */
.contact-text h3 {
  font-size: 24px;
  line-height: 3;
  font-family: "OpenSans-Regular";
}
/* line 72, ../sass/_landing.scss */
.contact-text p {
  font-size: 16px;
  font-family: inherit;
  line-height: 2.25;
}
/* line 78, ../sass/_landing.scss */
.contact-form {
  margin-top: 20px;
  margin-left: -15px;
}
/* line 82, ../sass/_landing.scss */
.contact .material {
  position: relative;
  padding: 0;
  margin: 1.2em 0;
  border: none;
  overflow: visible;
  margin-top: 50px;
  padding-right: 60px;
}
/* line 90, ../sass/_landing.scss */
.contact .material input,
.contact .material textarea,
.contact .material select {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: #ffffff solid 1px;
  font-size: 120%;
  outline: none;
  cursor: text;
  background: none;
  color: #ffffff;
}
/* line 106, ../sass/_landing.scss */
.contact .material input:not(:focus)::-webkit-input-placeholder,
.contact .material textarea:not(:focus)::-webkit-input-placeholder,
.contact .material select:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
/* line 110, ../sass/_landing.scss */
.contact .material input::-webkit-input-placeholder,
.contact .material textarea::-webkit-input-placeholder,
.contact .material select::-webkit-input-placeholder {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
/* line 114, ../sass/_landing.scss */
.contact .material input:focus ~ hr,
.contact .material textarea:focus ~ hr,
.contact .material select:focus ~ hr {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}
/* line 123, ../sass/_landing.scss */
.contact .material input:focus ~ label,
.contact .material textarea:focus ~ label,
.contact .material select:focus ~ label {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  top: 0px;
}
/* line 131, ../sass/_landing.scss */
.contact .material input:valid ~ label,
.contact .material textarea:valid ~ label {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  top: 0px;
}
/* line 137, ../sass/_landing.scss */
.contact .material select {
  padding: 24px 10px;
}
/* line 140, ../sass/_landing.scss */
.contact .material textarea {
  height: 6em;
  margin-bottom: -5.3px;
}
/* line 144, ../sass/_landing.scss */
.contact .material label {
  position: absolute;
  top: 10px;
  color: #ffffff;
  -webkit-transform-origin: 0 -150%;
  transform-origin: 0 -150%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  pointer-events: none;
  font-size: 20px;
}
/* line 156, ../sass/_landing.scss */
.contact .material label span {
  color: #acfbea;
}
/* line 160, ../sass/_landing.scss */
.contact .material hr {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 87%;
  height: 1.5px;
  border: none;
  background: #ffffff;
  font-size: 1px;
  will-change: transform, visibility;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}

/* line 2, ../sass/_landingv2.scss */
.page-wrapper .masthead {
  position: relative;
  padding: 0;
  color: #191919;
}
/* line 8, ../sass/_landingv2.scss */
.page-wrapper .masthead .contents {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 14, ../sass/_landingv2.scss */
.page-wrapper .masthead .contents .text-content {
  margin-top: 10em;
}
/* line 17, ../sass/_landingv2.scss */
.page-wrapper .masthead .contents .text-content h2 {
  font-family: "Larsseit-Regular";
  font-size: 50px;
  color: #252525;
  margin: 50px 0 30px;
}
/* line 23, ../sass/_landingv2.scss */
.page-wrapper .masthead .contents .text-content p {
  font-size: 18px;
  color: #9e9e9e;
  margin-bottom: 100px;
}
/* line 28, ../sass/_landingv2.scss */
.page-wrapper .masthead .contents .text-content .btn-top-cta {
  padding: 18px 80px;
  border-radius: 50px;
  background: #0edc87;
  color: #ffffff;
  font-size: 20px;
}
/* line 37, ../sass/_landingv2.scss */
.page-wrapper .masthead .socials {
  display: flex;
  margin-top: 250px;
  justify-content: flex-end;
}
/* line 41, ../sass/_landingv2.scss */
.page-wrapper .masthead .socials a {
  margin: 0 15px;
}
/* line 47, ../sass/_landingv2.scss */
.page-wrapper .section-content h2 {
  font-family: "Larsseit-Regular";
  font-size: 46px;
  line-height: 1.25;
  color: #191919;
  margin-top: 40px;
}
/* line 54, ../sass/_landingv2.scss */
.page-wrapper .section-content h3 {
  font-family: "Montserrat-Regular";
  font-size: 24px;
  line-height: 1.25;
  color: #191919;
  margin-top: 40px;
}
/* line 61, ../sass/_landingv2.scss */
.page-wrapper .section-content p {
  font-size: 18px;
  line-height: 1.79;
  margin: 40px 0;
  width: 80%;
}
/* line 68, ../sass/_landingv2.scss */
.page-wrapper .section-content .caption {
  width: 100%;
}
/* line 71, ../sass/_landingv2.scss */
.page-wrapper .section-content .cta {
  background: #0edc87;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
}
/* line 78, ../sass/_landingv2.scss */
.page-wrapper .section-content a {
  font-size: 16px;
}
/* line 81, ../sass/_landingv2.scss */
.page-wrapper .section-content .stats {
  display: flex;
  margin-top: 30px;
}
/* line 84, ../sass/_landingv2.scss */
.page-wrapper .section-content .stats .item {
  margin-right: 50px;
  text-align: center;
}
/* line 87, ../sass/_landingv2.scss */
.page-wrapper .section-content .stats .item .number {
  font-size: 50px;
  font-family: "Montserrat-SemiBold";
}
/* line 91, ../sass/_landingv2.scss */
.page-wrapper .section-content .stats .item .icon {
  color: #0edc87;
}
/* line 94, ../sass/_landingv2.scss */
.page-wrapper .section-content .stats .item p {
  font-size: 14px;
  margin: 0;
  width: 100%;
  text-align: center;
}
/* line 101, ../sass/_landingv2.scss */
.page-wrapper .section-content .stats .divider {
  height: 100%;
  width: 1px;
  color: #a0a0a1;
}
/* line 109, ../sass/_landingv2.scss */
.page-wrapper .section-text-lg {
  color: rgba(0, 0, 0, 0.05);
}
/* line 112, ../sass/_landingv2.scss */
.page-wrapper .section-title {
  position: relative;
  font-family: "OpenSans-Regular";
  color: #0edc87;
  margin-top: 20px;
  margin-bottom: 0;
}
/* line 119, ../sass/_landingv2.scss */
.page-wrapper .section-title span {
  width: 45px;
  height: 3px;
  background: #0edc87;
  position: absolute;
  left: 0;
  top: 25px;
}
/* line 128, ../sass/_landingv2.scss */
.page-wrapper .bottom-link {
  width: auto;
  position: relative;
  margin: 190px auto 170px;
  width: fit-content;
  text-align: center;
}
/* line 134, ../sass/_landingv2.scss */
.page-wrapper .bottom-link h3 {
  font-size: 36px;
}
/* line 137, ../sass/_landingv2.scss */
.page-wrapper .bottom-link .pagelinks {
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
}
/* line 142, ../sass/_landingv2.scss */
.page-wrapper .bottom-link .pagelinks a {
  text-align: right;
  font-size: 24px;
  color: #191919;
  margin-top: 20px;
  font-family: "OpenSans-Light";
}
/* line 148, ../sass/_landingv2.scss */
.page-wrapper .bottom-link .pagelinks a strong {
  font-family: "OpenSans-Semibold";
  position: relative;
  color: #0edc87;
}
/* line 154, ../sass/_landingv2.scss */
.page-wrapper .bottom-link .pagelinks a i {
  font-size: 20px;
  font-family: "OpenSans-Light";
  margin-right: 0;
  transition: ease-in-out margin-right 0.5s;
}
/* line 161, ../sass/_landingv2.scss */
.page-wrapper .bottom-link .pagelinks a:hover i {
  margin-right: -20px;
  transition: ease-in-out margin-right 0.5s;
}
/* line 171, ../sass/_landingv2.scss */
.page-wrapper .bottom-link .pagelinks:hover span::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 192, ../sass/_landingv2.scss */
.page-wrapper #about-us .particles-js-canvas-el {
  position: absolute;
}
/* line 196, ../sass/_landingv2.scss */
.page-wrapper .services {
  position: relative;
}
/* line 199, ../sass/_landingv2.scss */
.page-wrapper .services .section-content p {
  width: 100%;
  text-align: center;
}
/* line 206, ../sass/_landingv2.scss */
.page-wrapper .services .services-links a .link-text {
  position: relative;
  padding-top: 339px;
  width: 100%;
  height: 100%;
  border: solid 3px #191919;
  color: #0edc87;
  transition: ease 0.2s all;
  background: #ffffff;
}
/* line 215, ../sass/_landingv2.scss */
.page-wrapper .services .services-links a .link-text p {
  font-size: 117px;
  font-family: "OpenSans-Bold";
  margin: 0;
  position: absolute;
  bottom: 0;
  transition: ease 0.2s all;
  right: 0;
}
/* line 225, ../sass/_landingv2.scss */
.page-wrapper .services .services-links a .link-text span {
  opacity: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}
/* line 233, ../sass/_landingv2.scss */
.page-wrapper .services .services-links a:hover .link-text {
  background: #191919;
  color: #0edc87;
  transition: ease 0.2s all;
}
/* line 237, ../sass/_landingv2.scss */
.page-wrapper .services .services-links a:hover .link-text span {
  opacity: 1;
  transition: ease 0.2s all;
}
/* line 246, ../sass/_landingv2.scss */
.page-wrapper .process {
  color: #ffffff;
}
/* line 248, ../sass/_landingv2.scss */
.page-wrapper .process .container {
  position: relative;
}
/* line 251, ../sass/_landingv2.scss */
.page-wrapper .process .section-text-lg {
  color: rgba(255, 255, 255, 0.05);
  right: 0;
  top: 0;
}
/* line 256, ../sass/_landingv2.scss */
.page-wrapper .process .section-content {
  margin-top: 100px;
}
/* line 258, ../sass/_landingv2.scss */
.page-wrapper .process .section-content h2 {
  color: #ffffff;
}
/* line 264, ../sass/_landingv2.scss */
.page-wrapper .process #process-steps .panel #sprint {
  display: block;
  position: relative;
}
/* line 267, ../sass/_landingv2.scss */
.page-wrapper .process #process-steps .panel #sprint .v-line {
  position: absolute;
  width: 0px;
  height: 100%;
  border: solid;
  z-index: 1;
  border: dashed 1px;
  margin-left: 22px;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}
/* line 285, ../sass/_landingv2.scss */
.page-wrapper .process #process-steps .panel #sprint .iterate {
  position: absolute;
  top: 45%;
  z-index: 3;
  background: #000000;
}
/* line 291, ../sass/_landingv2.scss */
.page-wrapper .process #process-steps .panel #sprint .panel-body {
  height: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  display: block;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility, opacity;
  -o-transition-property: height, visibility, opacity;
  transition-property: height, visibility, opacity;
}
/* line 308, ../sass/_landingv2.scss */
.page-wrapper .process #process-steps .panel #sprint.active .panel-body {
  height: 100%;
  visibility: visible;
  opacity: 1;
  display: block;
  padding: initial;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility, opacity;
  -o-transition-property: height, visibility, opacity;
  transition-property: height, visibility, opacity;
}
/* line 329, ../sass/_landingv2.scss */
.page-wrapper .clients {
  background: #0d0d0d;
  color: #ffffff;
  padding: 90px 0;
}
/* line 334, ../sass/_landingv2.scss */
.page-wrapper .clients .owl-carousel .item {
  max-width: 550px;
  margin: 0 auto;
}
/* line 338, ../sass/_landingv2.scss */
.page-wrapper .clients .owl-carousel .item .msg .msg-content {
  text-align: justify;
  text-align-last: center;
  font-family: "OpenSans-LightItalic";
  margin-bottom: 50px;
  line-height: 1.75;
}
/* line 346, ../sass/_landingv2.scss */
.page-wrapper .clients .owl-carousel .item .msg .author .avatar {
  width: 34px;
  height: 34px;
  margin-bottom: 15px;
  background-size: cover;
}
/* line 354, ../sass/_landingv2.scss */
.page-wrapper .clients .owl-carousel .item .msg .author p {
  font-family: "OpenSans-Light";
}
/* line 359, ../sass/_landingv2.scss */
.page-wrapper .clients .owl-carousel .item .msg .company img {
  width: 70px;
}
/* line 367, ../sass/_landingv2.scss */
.page-wrapper .footer-cta {
  background-color: #151515;
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  color: #ffffff;
}
/* line 375, ../sass/_landingv2.scss */
.page-wrapper .footer-cta .section-text-lg {
  color: rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  text-align: center;
}
/* line 381, ../sass/_landingv2.scss */
.page-wrapper .footer-cta h2 {
  font-family: "OpenSans-Light";
  font-size: 36px;
  margin-top: 80px;
}
/* line 386, ../sass/_landingv2.scss */
.page-wrapper .footer-cta .btn-cta {
  width: 260px;
  height: 62.1px;
  margin: 36px auto 0;
}
/* line 391, ../sass/_landingv2.scss */
.page-wrapper .footer-cta .btn-cta a {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "OpenSans-ExtraBold";
  font-size: 16px;
  padding: 18px 35px;
  letter-spacing: 0.8px;
  background: #0edc87;
  border: solid 1px #0edc87;
  text-decoration: none;
  transition: ease 0.2s;
  border-radius: 50px;
}
/* line 404, ../sass/_landingv2.scss */
.page-wrapper .footer-cta .btn-cta a:hover {
  border: solid 1px #ffffff;
  color: #ffffff;
  background: #151515;
}
/* line 412, ../sass/_landingv2.scss */
.page-wrapper .footer {
  color: #ffffff;
  text-align: left;
  background: #191919;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 418, ../sass/_landingv2.scss */
.page-wrapper .footer h2 {
  font-family: "OpenSans-Bold";
  font-size: 36px;
  margin-top: 15px;
}
/* line 423, ../sass/_landingv2.scss */
.page-wrapper .footer p {
  font-size: 14px;
  font-family: "OpenSans-Light";
  line-height: 2;
}
/* line 427, ../sass/_landingv2.scss */
.page-wrapper .footer p a {
  color: #ffffff;
  text-decoration: underline;
}
/* line 432, ../sass/_landingv2.scss */
.page-wrapper .footer strong {
  font-family: "OpenSans-Bold";
}
/* line 439, ../sass/_landingv2.scss */
.page-wrapper .footer .carousel .carousel-inner .item {
  text-align: left !important;
}
/* line 442, ../sass/_landingv2.scss */
.page-wrapper .footer .carousel .carousel-inner .item a {
  color: #ffffff;
  text-decoration: underline;
}
/* line 451, ../sass/_landingv2.scss */
.page-wrapper .carousel.vertical .carousel-inner > .item {
  text-align: right;
  width: 100%;
  -webkit-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  /* line 459, ../sass/_landingv2.scss */
  .page-wrapper .carousel.vertical .carousel-inner > .item {
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    width: 100%;
  }
  /* line 464, ../sass/_landingv2.scss */
  .page-wrapper .carousel.vertical .carousel-inner > .item.next,
  .page-wrapper .carousel.vertical .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    top: 0;
  }
  /* line 470, ../sass/_landingv2.scss */
  .page-wrapper .carousel.vertical .carousel-inner > .item.prev,
  .page-wrapper .carousel.vertical .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    top: 0;
  }
  /* line 476, ../sass/_landingv2.scss */
  .page-wrapper .carousel.vertical .carousel-inner > .item.next.left,
  .page-wrapper .carousel.vertical .carousel-inner > .item.prev.right,
  .page-wrapper .carousel.vertical .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}
/* line 484, ../sass/_landingv2.scss */
.page-wrapper .carousel-indicators {
  margin-bottom: -20px;
}
/* line 486, ../sass/_landingv2.scss */
.page-wrapper .carousel-indicators li {
  background: #c4f4e3;
}
/* line 488, ../sass/_landingv2.scss */
.page-wrapper .carousel-indicators li.active {
  background: #99eccf;
}

/* line 496, ../sass/_landingv2.scss */
.page-wrapper .main-content {
  position: absolute;
  width: 100%;
  display: block;
}
/* line 501, ../sass/_landingv2.scss */
.page-wrapper .nav-content {
  width: 100%;
  transition: all 0.5s ease-in-out;
  background: #ffffff;
  left: 100%;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  top: 0;
}
/* line 513, ../sass/_landingv2.scss */
.page-wrapper .nav-content .nav-links li {
  display: block;
  margin: 0 2em;
}
/* line 516, ../sass/_landingv2.scss */
.page-wrapper .nav-content .nav-links li a {
  font-size: 120px;
  color: #191919;
  font-family: "Larsseit-Bold";
  position: relative;
  text-decoration: none;
}
/* line 522, ../sass/_landingv2.scss */
.page-wrapper .nav-content .nav-links li a span {
  z-index: 1;
}
/* line 525, ../sass/_landingv2.scss */
.page-wrapper .nav-content .nav-links li a .line {
  position: absolute;
  height: 10px;
  width: 0;
  color: #0edc87;
  z-index: 2;
  top: 70px;
  border-bottom: solid 15px;
  transform: rotate(6deg);
  transition: width ease-in-out 0.5s;
}
/* line 537, ../sass/_landingv2.scss */
.page-wrapper .nav-content .nav-links li a:hover .line {
  transition: width linear 0.1s;
  width: 100%;
}
/* line 545, ../sass/_landingv2.scss */
.page-wrapper .nav-content .bottom-link {
  width: 100%;
}
/* line 549, ../sass/_landingv2.scss */
.page-wrapper .ext-content {
  position: relative;
}
/* line 551, ../sass/_landingv2.scss */
.page-wrapper .ext-content .section-text-lg {
  top: 0;
}
/* line 556, ../sass/_landingv2.scss */
.page-wrapper .ext-content .panel-group .panel {
  border: none;
  box-shadow: none;
}
/* line 562, ../sass/_landingv2.scss */
.page-wrapper .ext-content .panel-group .panel .panel-title a .text {
  color: #191919;
  margin-left: 60px;
}
/* line 569, ../sass/_landingv2.scss */
.page-wrapper .ext-content .panel-group .panel .panel-body {
  border-top: none;
}
/* line 575, ../sass/_landingv2.scss */
.page-wrapper.nav-active {
  overflow-y: hidden;
}
/* line 578, ../sass/_landingv2.scss */
.page-wrapper.nav-active .nav-content {
  left: 0;
  z-index: 10;
}

/* line 1, ../sass/_pages.scss */
.about-top {
  position: absolute;
  display: flex;
  top: 35%;
  justify-content: center;
  left: 0;
  right: 0;
  margin-top: -100px;
  font-family: "Larsseit-Regular";
  font-size: 50px;
  line-height: 1.44;
  margin-bottom: 50px;
}

/* line 15, ../sass/_pages.scss */
.header {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 22, ../sass/_pages.scss */
.header .header-text h2 {
  margin-top: -100px;
  font-family: "Larsseit-Regular";
  font-size: 50px;
  line-height: 1.44;
  margin-bottom: 50px;
}
/* line 29, ../sass/_pages.scss */
.header .header-text p {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 150px;
}

/* line 38, ../sass/_pages.scss */
.contact h2 {
  font-size: 36px;
  color: #191919;
  font-family: "Larsseit-Regular";
  margin-bottom: 50px;
}
/* line 44, ../sass/_pages.scss */
.contact p {
  font-size: 16px;
  line-height: 2;
}
/* line 48, ../sass/_pages.scss */
.contact .contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
/* line 53, ../sass/_pages.scss */
.contact .contact-form h2 {
  font-size: 56px;
  line-height: 1.25;
  color: #191919;
  width: 80%;
  margin: 0 auto 100px;
  font-family: "Larsseit-Bold";
}
/* line 61, ../sass/_pages.scss */
.contact .contact-form p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}
/* line 65, ../sass/_pages.scss */
.contact .contact-form p input {
  border: none;
  border-bottom: solid 1px #959595;
  text-align: center;
}
/* line 70, ../sass/_pages.scss */
.contact .contact-form p input:active, .contact .contact-form p input:focus .contact .contact-form p input:hover {
  border-color: #0fa371;
}
/* line 76, ../sass/_pages.scss */
.contact .contact-form .btn-submit {
  background: #000;
  color: #fff;
  padding: 14px 50px;
  border-radius: 0;
  font-family: "OpenSans-Semibold";
  border: solid 1px #191919;
  transition: ease 0.2s;
  margin-top: 50px;
}
/* line 85, ../sass/_pages.scss */
.contact .contact-form .btn-submit:hover {
  background: none;
  color: #191919;
  transition: ease 0.2s;
}

/* line 94, ../sass/_pages.scss */
#map {
  margin-top: 150px;
  width: 100%;
  height: 500px;
}

/* line 100, ../sass/_pages.scss */
.top-img {
  margin: 50px 0;
}
/* line 103, ../sass/_pages.scss */
.top-img .img-wrapper .side-box {
  width: 367px;
  height: 350px;
}

/* line 110, ../sass/_pages.scss */
.mid-img {
  display: flex;
  justify-content: space-between;
}
/* line 115, ../sass/_pages.scss */
.mid-img .img-wrapper:hover img {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
/* line 121, ../sass/_pages.scss */
.mid-img .img-wrapper .side-box {
  width: 268.5px;
  height: 371px;
}
/* line 125, ../sass/_pages.scss */
.mid-img .img-wrapper img {
  width: 274px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* line 135, ../sass/_pages.scss */
.bottom-img .img-wrapper {
  width: 234px;
  height: 233px;
  position: relative;
}
/* line 141, ../sass/_pages.scss */
.bottom-img .img-wrapper:hover .side-box {
  transform: translate3d(-5%, -5%, 0);
  transition: ease-in-out 0.5s;
}
/* line 146, ../sass/_pages.scss */
.bottom-img .img-wrapper:hover .photo {
  transform: translate3d(0, 0, 0);
  transition: ease-in-out 0.5s;
}
/* line 151, ../sass/_pages.scss */
.bottom-img .img-wrapper:hover .info .items {
  margin-bottom: 0;
  transition: ease-in-out 0.5s;
}
/* line 154, ../sass/_pages.scss */
.bottom-img .img-wrapper:hover .info .items .links {
  opacity: 1;
  transition: ease-in-out 0.5s;
}
/* line 161, ../sass/_pages.scss */
.bottom-img .img-wrapper .side-box {
  width: 234px;
  height: 233px;
  transition: ease-in-out 0.5s;
  transform: translate3d(0, 0, 0);
}
/* line 168, ../sass/_pages.scss */
.bottom-img .img-wrapper .photo {
  z-index: 2;
  position: relative;
  width: 234px;
  height: 233px;
  transition: ease-in-out 0.5s;
  transform: translate3d(0, 0, 0);
  background-position: center center;
  background-size: cover;
}
/* line 179, ../sass/_pages.scss */
.bottom-img .img-wrapper .photo::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 233px;
  background: black;
  background: -moz-linear-gradient(top, black 0%, transparent 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, black), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, black 0%, transparent 100%);
  background: -o-linear-gradient(top, black 0%, transparent 100%);
  background: -ms-linear-gradient(top, black 0%, transparent 100%);
  background: linear-gradient(to top, #000000 0%, transparent 100%);
}
/* line 194, ../sass/_pages.scss */
.bottom-img .img-wrapper .info {
  z-index: 5;
  top: 0;
  position: absolute;
  width: 234px;
  height: 233px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  padding: 1em;
}
/* line 204, ../sass/_pages.scss */
.bottom-img .img-wrapper .info .items {
  margin-bottom: -18px;
  transition: ease-in-out 0.5s;
}
/* line 207, ../sass/_pages.scss */
.bottom-img .img-wrapper .info .items .name {
  font-family: "Larsseit-Regular";
  letter-spacing: 1px;
}
/* line 211, ../sass/_pages.scss */
.bottom-img .img-wrapper .info .items .position {
  font-family: "OpenSans-Light";
  color: #9e9e9e;
  margin-bottom: 5px;
}
/* line 216, ../sass/_pages.scss */
.bottom-img .img-wrapper .info .items .links {
  opacity: 0;
  margin-left: 4px;
  transition: ease-in-out 0.5s;
}
/* line 220, ../sass/_pages.scss */
.bottom-img .img-wrapper .info .items .links a {
  color: #ffffff;
  margin-right: 15px;
}

/* line 230, ../sass/_pages.scss */
.img-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 50px 0;
}
/* line 237, ../sass/_pages.scss */
.img-wrapper:hover .side-box {
  transform: translate3d(5%, -10%, 0);
  transition: ease-in-out 0.5s;
}
/* line 241, ../sass/_pages.scss */
.img-wrapper:hover img {
  transform: translate3d(10%, 2%, 0);
  transition: ease-in-out 0.5s;
}
/* line 246, ../sass/_pages.scss */
.img-wrapper .side-box {
  background: #0edc87;
  position: absolute;
  z-index: 1;
  transition: ease-in-out 0.5s;
  transform: translate3d(-3%, -3%, 0);
}
/* line 254, ../sass/_pages.scss */
.img-wrapper img {
  z-index: 2;
  width: 100%;
  position: relative;
  transition: ease-in-out 0.5s;
  transform: translate3d(0, 0, 0);
}

/* line 263, ../sass/_pages.scss */
.principles {
  margin: 50px 0;
}

/* line 267, ../sass/_pages.scss */
.team-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 250px;
}
/* line 270, ../sass/_pages.scss */
.team-section .team-col > [class^="col-"],
.team-section .team-col > [class*=" col-"] {
  max-height: 260px;
}

/* line 277, ../sass/_pages.scss */
.philosphy {
  margin-bottom: 250px;
}

/* line 283, ../sass/_pages.scss */
.service-page .project-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 288, ../sass/_pages.scss */
.service-page .project-preview img {
  position: relative;
  z-index: 1;
  transform: translate3d(0%, 0%, 0);
  transition: transform ease 0.5s;
}
/* line 294, ../sass/_pages.scss */
.service-page .project-preview .details {
  position: absolute;
  z-index: 2;
  margin-top: 300px;
  transition: margin-top ease 0.5s;
}
/* line 299, ../sass/_pages.scss */
.service-page .project-preview .details .project-title {
  font-family: "Larsseit-Bold";
  font-size: 75px;
  line-height: 0.57;
  color: #0edc87;
  opacity: 0;
  transition: opacity ease 0.5s;
}
/* line 307, ../sass/_pages.scss */
.service-page .project-preview .details .project-desc {
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.79;
  color: #252525;
  opacity: 0;
  transition: opacity ease 0.5s;
}
/* line 317, ../sass/_pages.scss */
.service-page .project-preview:hover img {
  opacity: 0.2;
  transform: translate3d(-5%, -5%, 0);
  transition: opacity ease 0.5s, transform ease 0.5s;
}
/* line 323, ../sass/_pages.scss */
.service-page .project-preview:hover .details {
  position: absolute;
  margin-top: 0;
  transition: margin-top ease 0.5s;
}
/* line 328, ../sass/_pages.scss */
.service-page .project-preview:hover .details .project-title {
  opacity: 1;
  transition: opacity ease 0.5s;
}
/* line 332, ../sass/_pages.scss */
.service-page .project-preview:hover .details .project-desc {
  opacity: 1;
  transition: opacity ease 0.5s;
}

/* line 341, ../sass/_pages.scss */
.sc-section {
  padding: 80px 0;
  position: relative;
  min-height: 100vh;
  height: 100%;
}

/* line 349, ../sass/_pages.scss */
.sc-title h2 {
  font-size: 117px;
  line-height: 0.37;
  text-align: left;
  font-family: "OpenSans-Bold";
  color: #191919;
  text-align: center;
}
/* line 357, ../sass/_pages.scss */
.sc-title p {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
}

/* line 365, ../sass/_pages.scss */
.technology .inline-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/* line 371, ../sass/_pages.scss */
.technology .tech-icons {
  margin-top: 50px;
}
/* line 373, ../sass/_pages.scss */
.technology .tech-icons p {
  margin-top: 25px;
}

/* line 379, ../sass/_pages.scss */
#what-we-offer {
  padding: 0;
}
